@font-face {
  font-family: 'Lugrasimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Lugrasimo-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Sono-Regular.woff2") format("woff2")
}