@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Palanquin-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Petrona-Bold.woff2") format("woff2")
}