@font-face {
  font-family: 'SofiaSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/SofiaSans-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Syncopate-Bold.woff2") format("woff2")
}