@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Marcellus-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'MarcellusSC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/MarcellusSC-Regular.woff2") format("woff2")
}