@font-face {
  font-family: 'PollerOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PollerOne-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'PTSerifCaption';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PTSerifCaption-Regular.woff2") format("woff2")
}