* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Kanit-Light.woff2) format("woff2")
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Kanit-Regular.woff2) format("woff2")
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Black.woff2) format("woff2")
}

:root {
  --font-main: "Kanit", sans-serif;
  --font-second: "PlayfairDisplay", sans-serif;
  --container-width: 1115px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --main: #000000;
  --gray: #edebe4;
  --hover: #707070;
  --active: #D2D2D2
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.webp .bar__content {
  background-image: url(../img/bar.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.no-webp .bar__content {
  background-image: url(../img/bar.jpg)
}

.tt-64-47 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-64-47 {
    font-size: 54px
  }
}

@media (max-width:600px) {
  .tt-64-47 {
    font-size: 47px
  }
}

.tt-31-26 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 31px;
  line-height: 140%
}

@media (max-width:991px) {
  .tt-31-26 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .tt-31-26 {
    font-size: 26px
  }
}

.tt-53-40 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-53-40 {
    font-size: 46px
  }
}

@media (max-width:600px) {
  .tt-53-40 {
    font-size: 40px
  }
}

.tx-17 {
  font-weight: 300;
  font-size: 17px;
  line-height: 150%
}

.tx-23 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%
}

.input {
  display: block;
  padding: 0 16px;
  width: 100%;
  min-height: 58px;
  border-bottom: 1px solid var(--black);
  font-weight: 300;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  background-color: transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .3
}

.input::-moz-placeholder {
  opacity: .3
}

.input:-ms-input-placeholder {
  opacity: .3
}

.input::-ms-input-placeholder {
  opacity: .3
}

.input::placeholder {
  opacity: .3
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--black);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 37px;
  min-width: 160px;
  min-height: 42px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header {
  padding: 24px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-page);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 24px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  border-radius: 8px
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.hero:not(:last-child) {
  margin-bottom: 80px
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 794px;
  position: relative;
  z-index: 2
}

@media (max-width:991px) {
  .hero__container {
    min-height: 650px
  }
}

@media (max-width:600px) {
  .hero__container {
    min-height: 550px
  }
}

.hero__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 928px;
  flex: 0 1 928px;
  width: 100%
}

.hero__title {
  text-align: center;
  color: var(--white)
}

.hero__title:not(:last-child) {
  margin-bottom: 16px
}

.hero__texts {
  text-align: center;
  width: 100%;
  max-width: 546px;
  margin: 0 auto
}

.hero__text {
  color: var(--white)
}

.ente:not(:last-child) {
  margin-bottom: 80px
}

.ente__head {
  text-align: center
}

.ente__head:not(:last-child) {
  margin-bottom: 32px
}

.ente__title {
  color: var(--main)
}

.ente__title:not(:last-child) {
  margin-bottom: 16px
}

.ente__text {
  color: var(--main);
  text-align: center;
  position: relative;
  z-index: 2
}

.ente__text_transform {
  text-transform: uppercase
}

.ente__text_color {
  color: var(--white)
}

.ente__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .ente__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .ente__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.ente__item {
  position: relative;
  min-height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 18px 28px
}

@media (max-width:991px) {
  .ente__item {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .ente__item {
    padding: 24px 10px
  }
}

.ente__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.ente__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, #000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
  z-index: 1
}

.ente__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.bar:not(:last-child) {
  margin-bottom: 80px
}

.bar__title {
  text-align: center;
  color: var(--main)
}

.bar__title:not(:last-child) {
  margin-bottom: 32px
}

.bar__container:not(:last-child) {
  margin-bottom: 32px
}

.bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 62px;
  min-height: 543px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.bar__wrapper-descr {
  padding: 0 var(--container-step);
  -webkit-box-flex: 0;
  -ms-flex: 0 1 736px;
  flex: 0 1 736px;
  width: 100%
}

@media (max-width:991px) {
  .bar__wrapper-descr {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .bar__wrapper-descr {
    padding: 0 var(--container-step-mobile)
  }
}

.bar__descr {
  width: 100%;
  padding: 24px;
  background-color: var(--white)
}

@media (max-width:991px) {
  .bar__descr {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .bar__descr {
    padding: 24px 10px
  }
}

.bar__mintitle {
  text-align: center;
  color: var(--main)
}

.bar__mintitle:not(:last-child) {
  margin-bottom: 16px
}

.bar__texts {
  text-align: center;
  width: 100%
}

.bar__text {
  color: var(--main)
}

.bar__text:not(:last-child) {
  margin-bottom: 8px
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 24px
}

.footer__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.hotels:not(:last-child) {
  margin-bottom: 80px
}

.hotels__title {
  text-align: center;
  color: var(--main)
}

.hotels__title:not(:last-child) {
  margin-bottom: 24px
}

.hotels-slider:not(:last-child) {
  margin-bottom: 32px
}

.hotels-slider__slide {
  min-width: 0
}

.hotels-slider__image {
  width: 100%;
  height: 367px
}

.hotels-slider__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.hotels-slider__info {
  position: relative;
  z-index: 2;
  margin-top: -80px;
  background-color: var(--gray);
  padding: 16px;
  max-width: 448px;
  width: 100%
}

.hotels-slider__info:not(:last-child) {
  margin-bottom: 8px
}

@media (max-width:600px) {
  .hotels-slider__info {
    padding: 16px 10px
  }
}

.hotels-slider__subtitle {
  color: var(--main)
}

.hotels-slider__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.hotels-slider__info-list {
  width: 100%
}

.hotels-slider__info-item {
  color: var(--main);
  opacity: .6
}

.hotels-slider__info-item:not(:last-child) {
  margin-bottom: 8px
}

.hotels-slider__texts {
  width: 100%
}

.hotels-slider__text {
  color: var(--main)
}

.hotels-slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px
}

.hotels-slider-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  width: 18px;
  height: 3px;
  opacity: .2;
  border-radius: 33px !important;
  background-color: var(--black)
}

.hotels-slider-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  width: 35px
}

.games {
  padding: 80px 0 0 0
}

.games__title {
  color: var(--main);
  text-align: center
}

.games__title:not(:last-child) {
  margin-bottom: 24px
}

.games__texts {
  color: var(--main);
  text-align: center;
  max-width: 640px;
  width: 100%;
  margin: 0 auto
}

.games__texts:not(:last-child) {
  margin-bottom: 24px
}

.games__text {
  color: var(--main)
}

.games__text:not(:last-child) {
  margin-bottom: 8px
}

.games__wrapper-work {
  background-color: var(--white);
  padding: 24px;
  max-width: 736px;
  width: 100%;
  margin: 0 auto
}

.games__wrapper-work:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .games__wrapper-work {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .games__wrapper-work {
    padding: 24px 10px
  }
}

.games__work {
  color: var(--main);
  text-align: center
}

.games__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .games__images {
    gap: 24px
  }
}

@media (max-width:600px) {
  .games__images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.games__image {
  width: 100%;
  height: 310px
}

.games__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts {
  padding: 80px 0 0 0
}

.contacts__head {
  text-align: center
}

.contacts__head:not(:last-child) {
  margin-bottom: 32px
}

.contacts__title {
  color: var(--main)
}

.contacts__title:not(:last-child) {
  margin-bottom: 8px
}

.contacts__text {
  color: var(--main)
}

.contacts__text:not(:last-child) {
  margin-bottom: 8px
}

.contacts__bottom {
  width: 100%
}

.contacts__address {
  font-style: normal;
  width: 100%
}

.contacts__address:not(:last-child) {
  margin-bottom: 32px
}

.contacts__info {
  width: 100%
}

.contacts__info-item {
  color: var(--main);
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.contacts__info-item:not(:last-child) {
  margin-bottom: 8px
}

.contacts__info-item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__info-item a:hover {
    color: var(--hover)
  }
}

.contacts__info-item a:focus-visible {
  color: var(--hover)
}

.contacts__info-item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__info-item img {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.contacts__map {
  width: 100%;
  max-width: 730px;
  height: 320px;
  margin: 0 auto
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.form {
  margin: 0 auto;
  max-width: 733px;
  width: 100%
}

.form:not(:last-child) {
  margin-bottom: 80px
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

.form__inputs:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .form__inputs {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__button {
  margin: 0 auto
}

.terms {
  padding: 80px 0 0 0
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--black);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}