@font-face {
  font-family: 'ShareTechMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/ShareTechMono-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'CutiveMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/CutiveMono-Regular.woff2") format("woff2")
}
