@mixin mb-80 {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header {
  padding: 24px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

// ======================================================================================================================================================

.hero {
  @include mb-80();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    z-index: 1;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 794px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      min-height: 650px;
    }

    @media (max-width: 600px) {
      min-height: 550px;
    }
  }

  &__descr {
    flex: 0 1 928px;
    width: 100%;
  }

  &__title {
    text-align: center;
    color: var(--white);
    @include mb-16();
  }

  &__texts {
    text-align: center;
    width: 100%;
    max-width: 546px;
    margin: 0 auto;
  }

  &__text {
    color: var(--white);
  }
}

// ======================================================================================================================================================

.ente {
  @include mb-80();

  &__head {
    text-align: center;
    @include mb-32();
  }

  &__title {
    color: var(--main);
    @include mb-16();
  }

  &__text {
    color: var(--main);
    text-align: center;
    position: relative;
    z-index: 2;

    &_transform {
      text-transform: uppercase;
    }

    &_color {
      color: var(--white);
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    min-height: 415px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 18px 28px;

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
      z-index: 1;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.bar {
  @include mb-80();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-32();
  }

  &__container {
    @include mb-32();
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 62px;
    padding-bottom: 62px;
    min-height: 543px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__wrapper-descr {
    padding: 0 var(--container-step);
    flex: 0 1 736px;
    width: 100%;

    @media (max-width: 991px) {
      padding: 0 var(--container-step-tablet);
    }

    @media (max-width: 600px) {
      padding: 0 var(--container-step-mobile);
    }
  }

  &__descr {
    width: 100%;
    padding: 24px;
    background-color: var(--white);

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__mintitle {
    text-align: center;
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    text-align: center;
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px; 
  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.hotels {
  @include mb-80();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-24();
  }
}

.hotels-slider {
  @include mb-32();

  &__slide {
    min-width: 0;
  }

  &__image {
    width: 100%;
    height: 367px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    margin-top: -80px;
    @include mb-8();
    background-color: var(--gray);
    padding: 16px;
    max-width: 448px;
    width: 100%;

    @media (max-width: 600px) {
      padding: 16px 10px;
    }
  }

  &__subtitle {
    color: var(--main);
    @include mb-8();
  }

  &__info-list {
    width: 100%;
  }

  &__info-item {
    color: var(--main);
    opacity: .6;
    @include mb-8();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
  }
}

.hotels-slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  & .swiper-pagination-bullet {
    margin: 0 !important;
    width: 18px;
    height: 3px;
    opacity: .2;
    border-radius: 33px !important;
    background-color: var(--black);
  }

  & .swiper-pagination-bullet-active {
    opacity: 1;
    width: 35px;
  }
}

// ======================================================================================================================================================
.games {
  padding: 80px 0 0 0;

  &__title {
    color: var(--main);
    text-align: center;
    @include mb-24();
  }

  &__texts {
    color: var(--main);
    text-align: center;
    @include mb-24();
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__wrapper-work {
    @include mb-24();
    background-color: var(--white);
    padding: 24px;
    max-width: 736px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__work {
    color: var(--main);
    text-align: center;
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    width: 100%;
    height: 310px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================
.contacts {
  padding: 80px 0 0 0;

  &__head {
    text-align: center;
    @include mb-32();
  }

  &__title {
    color: var(--main);
    @include mb-8();
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__bottom {
    width: 100%;
  }

  &__address {
    font-style: normal;
    width: 100%;
    @include mb-32();
  }

  &__info {
    width: 100%;
  }

  &__info-item {
    color: var(--main);
    gap: 8px;
    display: flex;
    align-items: center;
    @include mb-8();
    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }

    & img {
      display: block;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      object-fit: contain;
      object-position: center;
    }
  }

  &__map {
    width: 100%;
    max-width: 730px;
    height: 320px;
    margin: 0 auto;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  margin: 0 auto;
  @include mb-80();
  max-width: 733px;
  width: 100%;

  &__inputs {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;
    @include mb-32();

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__input {}

  &__button {
    margin: 0 auto;
  }
}


// ======================================================================================================================================================

.terms {
  padding: 80px 0 0 0;


  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--black);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}