@font-face {
  font-family: 'Gotu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Gotu-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Scada-Regular.woff2") format("woff2")
}