* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Marcellus;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Marcellus-Regular.woff2) format("woff2")
}

@font-face {
  font-family: MarcellusSC;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/MarcellusSC-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Marcellus", sans-serif;
  --font-second: "MarcellusSC", sans-serif;
  --container-width: 1120px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #FFFDFB;
  --main: #000000;
  --black: #000000;
  --white: #ffffff;
  --blue: #2795c4;
  --gray: #f5f4f3;
  --hover: #227ba1;
  --active: #165b78
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 120px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-64-50 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 64px;
  line-height: 129%
}

@media (max-width:991px) {
  .tt-64-50 {
    font-size: 56px
  }
}

@media (max-width:600px) {
  .tt-64-50 {
    font-size: 50px
  }
}

.tt-53-40 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-53-40 {
    font-size: 46px
  }
}

@media (max-width:600px) {
  .tt-53-40 {
    font-size: 40px
  }
}

.tt-31 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 31px;
  line-height: 140%
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

.tx-22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%
}

.input {
  display: block;
  padding: 0 24px;
  width: 100%;
  min-height: 58px;
  background-color: var(--gray);
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  border: 2px solid transparent;
  color: var(--main);
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

.input::-webkit-input-placeholder {
  opacity: .5
}

.input::-moz-placeholder {
  opacity: .5
}

.input:-ms-input-placeholder {
  opacity: .5
}

.input::-ms-input-placeholder {
  opacity: .5
}

.input::placeholder {
  opacity: .5
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.but-114 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 24px;
  background-color: var(--blue);
  border-radius: 35px;
  min-width: 114px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 58px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--white);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but-114:hover {
    background-color: var(--hover)
  }
}

.but-114:focus-visible {
  background-color: var(--hover)
}

.but-114:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header {
  padding: 24px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-page);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--main);
  border-radius: 8px
}

.hero {
  padding-top: 24px
}

.hero:not(:last-child) {
  margin-bottom: 120px
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  position: relative
}

@media (max-width:991px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.hero__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 450px;
  flex: 0 1 450px;
  width: 100%;
  padding-top: 90px
}

@media (max-width:991px) {
  .hero__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 0
  }
}

.hero__text {
  color: var(--main)
}

.hero__text:not(:last-child) {
  margin-bottom: 8px
}

.hero__title {
  color: var(--main)
}

.hero__title:not(:last-child) {
  margin-bottom: 16px
}

.hero__texts {
  width: 100%;
  max-width: 352px
}

.hero__texts:not(:last-child) {
  margin-bottom: 16px
}

.hero__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 648px;
  flex: 0 1 648px;
  width: 100%
}

@media (max-width:991px) {
  .hero__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 400px
  }
}

@media (max-width:600px) {
  .hero__image {
    height: 350px
  }
}

.hero__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.hero__list {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px;
  -webkit-box-shadow: 0 0 8px 0 rgba(109, 101, 101, .13);
  box-shadow: 0 0 8px 0 rgba(109, 101, 101, .13);
  background-color: var(--white)
}

@media (max-width:991px) {
  .hero__list {
    padding: 24px 16px;
    max-width: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: static
  }
}

@media (max-width:600px) {
  .hero__list {
    padding: 24px 10px
  }
}

.hero__item {
  text-align: center
}

.hero__icon {
  width: 24px;
  height: 24px;
  margin: 0 auto
}

.hero__icon:not(:last-child) {
  margin-bottom: 8px
}

.hero__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.estoque:not(:last-child) {
  margin-bottom: 120px
}

.estoque__title {
  text-align: center;
  color: var(--main)
}

.estoque__title:not(:last-child) {
  margin-bottom: 24px
}

.estoque__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .estoque__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .estoque__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.estoque__item {
  width: 100%
}

.estoque__image {
  height: 388px
}

.estoque__image:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .estoque__image {
    height: 320px
  }
}

@media (max-width:600px) {
  .estoque__image {
    height: 280px
  }
}

.estoque__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.estoque__descr {
  width: 100%;
  text-align: center
}

.estoque__subtitle {
  color: var(--main)
}

.estoque__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.estoque__texts {
  width: 100%
}

.estoque__text {
  color: var(--main)
}

.estoque__text:not(:last-child) {
  margin-bottom: 8px
}

.bar:not(:last-child) {
  margin-bottom: 120px
}

.bar__title {
  text-align: center;
  color: var(--main)
}

.bar__title:not(:last-child) {
  margin-bottom: 24px
}

.bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px
}

@media (max-width:991px) {
  .bar__content {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.bar__images {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 736px;
  flex: 0 1 736px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .bar__images {
    gap: 24px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .bar__images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.bar__image {
  width: 100%;
  height: 458px
}

@media (max-width:991px) {
  .bar__image {
    height: 380px
  }
}

@media (max-width:600px) {
  .bar__image {
    height: 280px
  }
}

.bar__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.bar__texts {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 352px;
  flex: 0 1 352px;
  width: 100%;
  padding-top: 32px
}

@media (max-width:991px) {
  .bar__texts {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 0
  }
}

.bar__text {
  width: 100%;
  color: var(--main)
}

.bar__text:not(:last-child) {
  margin-bottom: 16px
}

.hotel:not(:last-child) {
  margin-bottom: 120px
}

.hotel__title {
  text-align: center;
  color: var(--main)
}

.hotel__title:not(:last-child) {
  margin-bottom: 24px
}

.hotel__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 52px 32px
}

@media (max-width:991px) {
  .hotel__list {
    gap: 32px 24px
  }
}

@media (max-width:768px) {
  .hotel__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.hotel__item {
  width: 100%
}

.hotel__image {
  height: 333px
}

.hotel__image:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:600px) {
  .hotel__image {
    height: 280px
  }
}

.hotel__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.hotel__descr {
  text-align: center;
  width: 100%
}

.hotel__subtitle {
  color: var(--main)
}

.hotel__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.hotel__texts {
  width: 100%
}

.hotel__text {
  color: var(--main)
}

.hotel__text:not(:last-child) {
  margin-bottom: 8px
}

.play {
  padding-top: 24px
}

.play:not(:last-child) {
  margin-bottom: 120px
}

.play_2 {
  padding: 60px 0;
  background-color: var(--gray)
}

.play__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px
}

@media (max-width:991px) {
  .play__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.play__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  width: 100%;
  padding-top: 32px
}

.play__left_2 {
  padding-top: 0
}

@media (max-width:991px) {
  .play__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 0
  }
}

.play__title {
  color: var(--main)
}

.play__title:not(:last-child) {
  margin-bottom: 16px
}

.play__subtitle {
  text-align: center;
  color: var(--main)
}

.play__subtitle:not(:last-child) {
  margin-bottom: 32px
}

.play__texts {
  width: 100%
}

.play__text {
  color: var(--main)
}

.play__text:not(:last-child) {
  margin-bottom: 16px
}

.play__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px
}

@media (max-width:991px) {
  .play__image {
    height: 400px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .play__image {
    height: 320px
  }
}

.play__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts {
  padding-top: 62px
}

.contacts__top {
  text-align: center
}

.contacts__top:not(:last-child) {
  margin-bottom: 32px
}

.contacts__title {
  color: var(--main)
}

.contacts__title:not(:last-child) {
  margin-bottom: 16px
}

.contacts__texts {
  width: 100%
}

.contacts__text {
  color: var(--main)
}

.contacts__text:not(:last-child) {
  margin-bottom: 8px
}

.contacts__text_opacity {
  opacity: .5
}

.contacts__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px
}

.contacts__middle:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:991px) {
  .contacts__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.contacts__image {
  height: 401px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  width: 100%
}

@media (max-width:991px) {
  .contacts__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 360px
  }
}

@media (max-width:600px) {
  .contacts__image {
    height: 280px
  }
}

.contacts__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts__address {
  font-style: normal
}

.contacts__address:not(:last-child) {
  margin-bottom: 32px
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 24px
}

.contacts__item {
  text-align: center
}

.contacts__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__link:hover {
    color: var(--hover)
  }
}

.contacts__link:focus-visible {
  color: var(--hover)
}

.contacts__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__map {
  max-width: 737px;
  height: 412px;
  width: 100%;
  margin: 0 auto
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.form {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  width: 100%
}

@media (max-width:991px) {
  .form {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 448px
  }
}

.form__inputs:not(:last-child) {
  margin-bottom: 32px
}

.form__input:not(:last-child) {
  margin-bottom: 16px
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px
}

@media (max-width:991px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.footer__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 80px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 160px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 120px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--main);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--main);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}