@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 180px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }
  }
}

section {
  @include marginBlock();
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &_2 {
    & .nav__link {
      color: var(--black);
    }

    & .burger {
      & span {
        background-color: var(--black);
      }
    }
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-menu);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {
  max-width: 563px;
  width: 100%;

  @media (max-width: 991px) {
    max-width: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 39px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      color: var(--black);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--hover);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  background-color: #1E1F1B;

  @media (max-width: 991px) {
    padding-top: 140px;
  }

  &__container {
    display: flex;
    gap: 0;
    padding: 0;

    @media (max-width: 991px) {
      padding: 0 var(--container-step-tablet);
      flex-direction: column;
      gap: 32px;
    }

    @media (max-width: 600px) {
      padding: 0 var(--container-step-mobile);
    }
  }

  &__left {
    position: relative;
    z-index: 2;
    margin-right: -400px;
    display: flex;
    flex-direction: column;
    flex: 0 1 1300px;
    padding: 120px 0 32px 20px;
    width: 100%;

    @media (max-width: 991px) {
      padding: 0;
      flex: none;
    }
  }

  &__left-top {
    margin-top: auto;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title {
    color: var(--orange);

    & span {
      padding-left: 32px;
      display: block;
      color: var(--white);
      margin-top: 10px;

      @media (max-width: 991px) {
        padding-left: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    margin-left: 64px;

    @media (max-width: 991px) {
      margin-left: 0;
    }
  }

  &__text {
    color: var(--white);
    width: 100%;
    max-width: 441px;
    margin-top: auto;
  }

  &__image {
    position: relative;
    padding-bottom: 55%;
    flex: 0 1 1085px;
    width: 100%;
    z-index: 1;

    @media (max-width: 991px) {
      flex: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .69);
      z-index: 2;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}


// ======================================================================================================================================================

.about {

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 0;

    @media (max-width: 1220px) {
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__images {
    position: relative;
    z-index: 1;
    width: 100%;
    flex: 0 1 864px;
    margin-right: -100px;

    @media (max-width: 1220px) {
      flex: none;
      margin-right: 0;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 67%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      &:not(:last-child) {
        margin-bottom: 29px;

        @media (max-width: 1220px) {
          margin-bottom: 16px;
        }

        @media (max-width: 600px) {
          margin-bottom: 5px;
        }
      }
    }

    &_2 {
      padding-bottom: 66%;
    }
  }

  &__images-bottom {
    width: 100%;
    max-width: 640px;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 1220px) {
      gap: 16px;
      max-width: none;
    }

    @media (max-width: 600px) {
      gap: 5px;
    }
  }

  &__right {
    position: relative;
    z-index: 2;
    width: 100%;
    flex: 0 1 640px;
    padding-top: 32px;

    @media (max-width: 1220px) {
      flex: none;
      padding-top: 0;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;
    padding-left: 100px;

    @media (max-width: 1220px) {
      padding-left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__texts {
    background-color: #1E1F1B;
    width: 100%;
    padding: 32px;

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

// ======================================================================================================================================================

.raume {
  &_2 {
    padding: 180px 0 0 0;

    @media (max-width: 991px) {
      padding: 140px 0 0 0;
    }
  }

  &__list {}

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      gap: 32px;
      flex-direction: column-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    flex: 0 1 752px;
    height: 746px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
      height: auto;
      padding-bottom: 57%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__right {
    position: relative;
    z-index: 2;
    flex: 0 1 640px;
    margin-left: -100px;
    background-color: #1E1F1B;
    width: 100%;
    padding: 32px;

    @media (max-width: 991px) {
      flex: none;
      padding: 24px 16px;
      margin-left: 0;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__title {
    color: var(--white);
    text-align: center;
    
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &_2 {
      color: var(--black);
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__subtitle {
    color: var(--orange);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__texts {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    margin-left: auto;
  }
}

// ======================================================================================================================================================

.raum {
  padding: 60px 0;
  background-color: #1E1F1B;

  &_2 {
    margin: 180px 0 0 0;

    @media (max-width: 991px) {
      margin: 140px 0 0 0;
    }
  }

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__image {
    position: relative;
    padding-bottom: 48%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__texts {
    display: grid;
    align-items: flex-end;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }

    &_2 {
      align-items: flex-start;
    }
  }

  &__column {}

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    margin-left: auto;
  }
}


// ======================================================================================================================================================

.contacts {
  &_2 {
    padding: 180px 0 0 0;

    @media (max-width: 991px) {
      padding: 140px 0 0 0;
    }
  }

  &__head {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__title {
    color: var(--black);
  }

  &__text {
    color: var(--black);
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
  }
}

.form {
  margin: 0 auto;
  width: 100%;
  max-width: 864px;

  &__inputs {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0 16px;
    min-height: 53px;
    color: var(--black);
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--black);
    transition: border-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--hover);
    }

    &::placeholder {
      color: var(--black);
      opacity: 1;
    }
  }

  &__button {
    margin: 0 auto;
    color: var(--black);
    border-color: var(--black);
  }
}

// ======================================================================================================================================================

.terms {
  padding: 180px 0 0 0;

  @media (max-width: 991px) {
    padding: 140px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--orange);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

  }

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}