@font-face {
  font-family: 'YoungSerif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/YoungSerif-Regular.woff2") format("woff2")
}


@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2")
}
