.header {
  display: none;
}

.footer {
  display: none;
}

.hero {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding-top: 7px;

  &__container {

    &_margin {
      position: relative;
      z-index: 2;
      margin-top: -185px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__logo {
    display: block;
    max-width: 280px;
    height: 109px;
    width: 100%;
    margin: 0 auto;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__num {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  &__image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 418px;
    margin-top: -30px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__text {
    text-align: center;
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__list {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__item {
    text-align: center;
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    margin: 0 auto;
  }

  &__bottom {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__bottom-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__curacao {
    flex: 0 0 55px;
    height: 61px;
    width: 100%;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__helper {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    width: 100%;
    flex: 0 1 241px;
  }

  &__icon {
    display: block;
    flex: 0 0 64px;
    height: 52px;
    width: 100%;


    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__helper-text {
    color: var(--white);
    width: 100%;
    flex: 0 1 100%;
  }

  &__pls {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
  }

  &__pl {
    flex: 0 1 150px;
    height: 50px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__footer {
    padding: 20px 32px 35px 32px;
    background-color: var(--l-blue);

    @media (max-width: 374px) {
      padding: 20px 10px 35px 10px;
    }
  }

  &__pays {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 9px 15px;
  }

  &__pay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 41px;
    background-color: var(--d-blue);
    padding: 5px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}