* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: MartianMono;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/MartianMono-Bold.woff2) format("woff2")
}

@font-face {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Mulish-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Mulish", sans-serif;
  --font-second: "MartianMono", sans-serif;
  --container-width: 1200px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #ffffff;
  --main: #000000;
  --white: #ffffff;
  --black: #000000;
  --green: #0e6d0e;
  --hover: #1b861b;
  --active: #0e550e
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 120px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-52-34 {
  font-family: var(--font-second);
  font-size: 52px;
  font-weight: 700;
  line-height: 1.3
}

@media (max-width:991px) {
  .tt-52-34 {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .tt-52-34 {
    font-size: 34px
  }
}

.tt-46-30 {
  font-family: var(--font-second);
  font-size: 46px;
  font-weight: 700;
  line-height: 1.3
}

@media (max-width:991px) {
  .tt-46-30 {
    font-size: 38px
  }
}

@media (max-width:600px) {
  .tt-46-30 {
    font-size: 30px
  }
}

.tx-26-18 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.3
}

@media (max-width:991px) {
  .tx-26-18 {
    font-size: 23px
  }
}

@media (max-width:600px) {
  .tx-26-18 {
    font-size: 18px
  }
}

.tx-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--green);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 50px;
  min-width: 120px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  border-radius: 0 0 16px 0
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.input {
  display: block;
  padding: 0 16px;
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--black);
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 0 0 16px 0;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .5;
  color: var(--black)
}

.input::-moz-placeholder {
  opacity: .5;
  color: var(--black)
}

.input:-ms-input-placeholder {
  opacity: .5;
  color: var(--black)
}

.input::-ms-input-placeholder {
  opacity: .5;
  color: var(--black)
}

.input::placeholder {
  opacity: .5;
  color: var(--black)
}

.header {
  padding: 24px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-page);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  border-radius: 8px
}

.hero {
  padding-top: 120px
}

.hero:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:991px) {
  .hero {
    padding-top: 100px
  }
}

@media (max-width:600px) {
  .hero {
    padding-top: 80px
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px
}

@media (max-width:991px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 24px
  }
}

.hero__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
  height: 500px
}

@media (max-width:991px) {
  .hero__image {
    max-width: 400px;
    margin: 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .hero__image {
    max-width: 300px;
    height: 400px
  }
}

.hero__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.hero__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 800px;
  flex: 0 1 800px;
  width: 100%
}

@media (max-width:991px) {
  .hero__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.hero__title {
  color: var(--main)
}

.hero__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .hero__title {
    text-align: center
  }
}

.hero__texts {
  width: 100%;
  max-width: 600px
}

@media (max-width:991px) {
  .hero__texts {
    max-width: none;
    text-align: center
  }
}

.hero__text {
  color: var(--main)
}

.hero__text:not(:last-child) {
  margin-bottom: 16px
}

.benefits:not(:last-child) {
  margin-bottom: 120px
}

.benefits__title {
  color: var(--main)
}

.benefits__title:not(:last-child) {
  margin-bottom: 32px
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .benefits__list {
    gap: 24px
  }
}

@media (max-width:768px) {
  .benefits__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px
}

.benefits__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 62px;
  flex: 0 0 62px;
  height: 62px
}

@media (max-width:991px) {
  .benefits__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    height: 42px
  }
}

@media (max-width:600px) {
  .benefits__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    height: 32px
  }
}

.benefits__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits__text {
  color: var(--main)
}

.about:not(:last-child) {
  margin-bottom: 120px
}

.about__title {
  color: var(--main)
}

.about__title:not(:last-child) {
  margin-bottom: 32px
}

.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .about__list {
    gap: 24px;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr)
  }
}

@media (max-width:600px) {
  .about__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.about__item {
  width: 100%
}

.about__image {
  height: 300px;
  width: 100%
}

.about__image:not(:last-child) {
  margin-bottom: 24px
}

.about__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 16px
}

.about__texts {
  width: 100%;
  text-align: center
}

.about__text {
  color: var(--main)
}

.about__text:not(:last-child) {
  margin-bottom: 8px
}

.apart:not(:last-child) {
  margin-bottom: 120px
}

.apart__title {
  color: var(--main)
}

.apart__title:not(:last-child) {
  margin-bottom: 32px
}

.apart__list {
  width: 100%
}

.apart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

.apart__item:not(:last-child) {
  margin-bottom: 80px
}

.apart__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

@media (max-width:991px) {
  .apart__item:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.apart__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

@media (max-width:991px) {
  .apart__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.apart__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 400px;
  flex: 0 1 400px;
  height: 350px;
  width: 100%
}

@media (max-width:991px) {
  .apart__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 400px;
    margin: 0 auto
  }
}

@media (max-width:600px) {
  .apart__image {
    height: 300px;
    max-width: 290px
  }
}

.apart__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.apart__descr {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 800px;
  flex: 0 1 800px
}

@media (max-width:991px) {
  .apart__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.apart__texts {
  width: 100%
}

.apart__text {
  color: var(--main)
}

.apart__text:not(:last-child) {
  margin-bottom: 16px
}

.slot {
  padding-top: 100px
}

.slot:not(:last-child) {
  margin-bottom: 120px
}

.slot__title {
  color: var(--main);
  text-align: center
}

.slot__title:not(:last-child) {
  margin-bottom: 24px
}

.slot__texts {
  width: 100%;
  text-align: center
}

.slot__texts:not(:last-child) {
  margin-bottom: 24px
}

.slot__text {
  color: var(--main)
}

.slot__text:not(:last-child) {
  margin-bottom: 8px
}

.slot__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .slot__images {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .slot__images {
    gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.slot__image {
  height: 400px;
  width: 100%
}

.slot__image picture img {
  border-radius: 16px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts {
  padding-top: 100px
}

.contacts:not(:last-child) {
  margin-bottom: 120px
}

.contacts__title {
  color: var(--main);
  text-align: center
}

.contacts__title:not(:last-child) {
  margin-bottom: 32px
}

.contacts__bottom {
  width: 100%
}

.contacts__address {
  display: block;
  width: 100%;
  font-style: normal
}

.contacts__address:not(:last-child) {
  margin-bottom: 24px
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

.contacts__info-item {
  color: var(--main)
}

.contacts__info-item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__info-item a:hover {
    color: var(--hover)
  }
}

.contacts__info-item a:focus-visible {
  color: var(--hover)
}

.contacts__info-item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__map {
  height: 400px;
  width: 100%
}

.contacts__map:not(:last-child) {
  margin-bottom: 24px
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto
}

.form:not(:last-child) {
  margin-bottom: 32px
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

.form__inputs:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .form__inputs {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__input {
  width: 100%
}

.form__button {
  margin: 0 auto
}

.terms {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 80px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--green);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding-bottom: 40px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

.footer__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}