:root {
  // Шрифты
  --font-main: "Gabarito", sans-serif; // 1 шрифт на странице
  --font-second: "CroissantOne", sans-serif; // 2 шрифт на странице

  // Контейнер
  --container-width: 900px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #070303; // бекграунд страницы
  --white: #ffffff;
  --main: #ffffff;
  --black: #000000;
  --siziy: #117391;

  --hover: #186d86; // цвет при ховере
  --active: #0d647e; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 140px;

    @media (max-width: 600px) {
      margin-bottom: 100px;
    }
  }
}

.webp {
  & .hero {
    background-image: url(../../img/hero.webp);
  }
}

.no-webp {
  & .hero {
    background-image: url(../../img/hero.jpg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-52-36 {
  font-family: var(--font-second);
  font-size: 52px;
  font-weight: 700;
  line-height: 1.3;

  @media (max-width: 991px) {
    font-size: 44px;
  }

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.tt-46-32 {
  font-family: var(--font-second);
  font-size: 46px;
  font-weight: 700;
  line-height: 1.3;

  @media (max-width: 991px) {
    font-size: 40px;
  }

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

.tx-22-18 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tx-16-14 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  font-weight: 400;
  background-color: var(--siziy);
  border-radius: 0 0 12px 12px;
  width: fit-content;
  min-width: 160px;
  min-height: 45px;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.input {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  font-weight: 500;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color .3s ease-in-out;

  &::placeholder {
    opacity: .6;
    color: var(--white);
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--hover);
    }
  }

  &:focus-visible {
    border-color: var(--hover);
  }
}