* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: DMSerifDisplay;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/DMSerifDisplay-Regular.woff2) format("woff2")
}

@font-face {
  font-family: Poly;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Poly-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Poly", sans-serif;
  --font-second: "DMSerifDisplay", sans-serif;
  --container-width: 1120px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #EEEEEE;
  --white: #ffffff;
  --black: #000000;
  --main: #000000;
  --hover: #515151;
  --active: #292929
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.webp .event {
  background-image: url(../img/eventos.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.no-webp .event {
  background-image: url(../img/eventos.jpg)
}

.tt-64-44 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-64-44 {
    font-size: 54px
  }
}

@media (max-width:600px) {
  .tt-64-44 {
    font-size: 44px
  }
}

.tt-53-40 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-53-40 {
    font-size: 46px
  }
}

@media (max-width:600px) {
  .tt-53-40 {
    font-size: 40px
  }
}

.tt-44-36 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%
}

@media (max-width:991px) {
  .tt-44-36 {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .tt-44-36 {
    font-size: 36px
  }
}

.tt-31 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 31px;
  line-height: 140%
}

.tx-22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--black);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 38px;
  min-width: 160px;
  min-height: 54px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

.but_background {
  color: var(--black);
  background-color: var(--white)
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.input {
  display: block;
  padding: 0 32px;
  border-radius: 54px;
  width: 100%;
  min-height: 62px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .5;
  color: var(--black)
}

.input::-moz-placeholder {
  opacity: .5;
  color: var(--black)
}

.input:-ms-input-placeholder {
  opacity: .5;
  color: var(--black)
}

.input::-ms-input-placeholder {
  opacity: .5;
  color: var(--black)
}

.input::placeholder {
  opacity: .5;
  color: var(--black)
}

@media (max-width:991px) {
  .input {
    padding: 0 24px;
    min-height: 55px
  }
}

@media (max-width:600px) {
  .input {
    padding: 0 16px;
    min-height: 50px
  }
}

.header {
  padding: 24px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-page);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 24px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  border-radius: 8px
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero:not(:last-child) {
  margin-bottom: 80px
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 597px;
  padding-top: 32px;
  padding-bottom: 32px
}

.hero__descr {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 681px;
  flex: 0 1 681px
}

.hero__title {
  text-align: center;
  color: var(--white)
}

.hero__title:not(:last-child) {
  margin-bottom: 16px
}

.hero__texts {
  text-align: center
}

.hero__texts:not(:last-child) {
  margin-bottom: 32px
}

.hero__text {
  color: var(--white)
}

.hero__text:not(:last-child) {
  margin-bottom: 8px
}

.hero__link {
  margin: 0 auto
}

.rest:not(:last-child) {
  margin-bottom: 80px
}

.rest__title {
  text-align: center;
  color: var(--main)
}

.rest__title:not(:last-child) {
  margin-bottom: 32px
}

.rest__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

@media (max-width:991px) {
  .rest__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.rest__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 736px;
  flex: 0 1 736px;
  width: 100%
}

@media (max-width:991px) {
  .rest__images {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.rest__image {
  width: 100%
}

.rest__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.rest__image_1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  height: 359px
}

@media (max-width:991px) {
  .rest__image_1 {
    height: 300px
  }
}

.rest__image_2 {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 256px;
  flex: 0 0 256px;
  height: 389px;
  margin-top: 85px;
  margin-left: -130px
}

@media (max-width:991px) {
  .rest__image_2 {
    height: 280px
  }
}

@media (max-width:500px) {
  .rest__image_2 {
    height: 180px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px
  }
}

.rest__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  width: 100%;
  margin-left: -98px
}

@media (max-width:991px) {
  .rest__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-left: 0
  }
}

.rest__subtitle {
  color: var(--main)
}

.rest__subtitle:not(:last-child) {
  margin-bottom: 24px
}

.rest__texts {
  width: 100%;
  padding-left: 128px
}

@media (max-width:991px) {
  .rest__texts {
    padding-left: 0
  }
}

.rest__text {
  color: var(--main)
}

.rest__text:not(:last-child) {
  margin-bottom: 24px
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 24px
}

.footer__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.colocaciones:not(:last-child) {
  margin-bottom: 80px
}

.colocaciones__title {
  text-align: center;
  color: var(--main)
}

.colocaciones__title:not(:last-child) {
  margin-bottom: 32px
}

.colocaciones__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 24px 32px
}

@media (max-width:991px) {
  .colocaciones__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.colocaciones__item {
  width: 100%;
  background-color: var(--white)
}

.colocaciones__image {
  height: 331px;
  width: 100%
}

.colocaciones__image:not(:last-child) {
  margin-bottom: 8px
}

@media (max-width:600px) {
  .colocaciones__image {
    height: 280px
  }
}

.colocaciones__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.colocaciones__descr {
  width: 100%;
  padding: 0 16px 32px 16px
}

.colocaciones__subtitle {
  text-align: center;
  color: var(--main)
}

.colocaciones__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.colocaciones__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px
}

.colocaciones__info:not(:last-child) {
  margin-bottom: 8px
}

@media (max-width:600px) {
  .colocaciones__info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

.colocaciones__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  color: var(--main);
  opacity: .5
}

.colocaciones__info-text:not(:last-child)::after {
  content: "/";
  color: var(--main)
}

@media (max-width:600px) {
  .colocaciones__info-text:not(:last-child)::after {
    display: none
  }
}

.colocaciones__texts {
  width: 100%
}

.colocaciones__text {
  color: var(--main)
}

.colocaciones__text:not(:last-child) {
  margin-bottom: 8px
}

.event {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.event:not(:last-child) {
  margin-bottom: 8px
}

.event__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 411px
}

.event__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(241, 241, 241, .9);
  min-height: 278px
}

@media (max-width:991px) {
  .event__descr {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .event__descr {
    padding: 24px 10px
  }
}

.event__title {
  color: var(--main)
}

.event__title:not(:last-child) {
  margin-bottom: 8px
}

.event__subtitle {
  color: var(--main)
}

.event__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.event__texts {
  width: 100%
}

.event__text {
  color: var(--main)
}

.event__text:not(:last-child) {
  margin-bottom: 8px
}

.slots {
  padding-top: 80px
}

.slots__item:not(:last-child) {
  margin-bottom: 80px
}

.slots__title {
  text-align: center;
  color: var(--main)
}

.slots__title:not(:last-child) {
  margin-bottom: 24px
}

.slots__subtitle {
  text-align: center;
  color: var(--main)
}

.slots__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.slots__texts {
  width: 100%;
  max-width: 736px;
  margin: 0 auto
}

.slots__texts:not(:last-child) {
  margin-bottom: 16px
}

.slots__text {
  color: var(--main);
  text-align: center
}

.slots__image {
  width: 100%;
  height: 439px
}

@media (max-width:991px) {
  .slots__image {
    height: 360px
  }
}

@media (max-width:600px) {
  .slots__image {
    height: 280px
  }
}

.slots__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts {
  padding-top: 80px
}

.contacts:not(:last-child) {
  margin-bottom: 80px
}

.contacts__top {
  width: 100%
}

.contacts__top:not(:last-child) {
  margin-bottom: 32px
}

.contacts__title {
  text-align: center;
  color: var(--main)
}

.contacts__title:not(:last-child) {
  margin-bottom: 16px
}

.contacts__texts {
  text-align: center;
  width: 100%;
  max-width: 540px;
  margin: 0 auto
}

.contacts__texts:not(:last-child) {
  margin-bottom: 24px
}

.contacts__text {
  color: var(--main)
}

.contacts__text:not(:last-child) {
  margin-bottom: 8px
}

.contacts__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

.contacts__middle:not(:last-child) {
  margin-bottom: 80px
}

@media (max-width:991px) {
  .contacts__middle {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.contacts__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  height: 329px
}

@media (max-width:991px) {
  .contacts__image {
    height: 300px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .contacts__image {
    height: 260px
  }
}

.contacts__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 32px
}

@media (max-width:991px) {
  .contacts__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.contacts__map {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  height: 379px
}

@media (max-width:991px) {
  .contacts__map {
    height: 340px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .contacts__map {
    height: 300px
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.contacts__address {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  width: 100%;
  font-style: normal
}

@media (max-width:991px) {
  .contacts__address {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.contacts__info {
  width: 100%
}

.contacts__info-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--main)
}

.contacts__info-item:not(:last-child) {
  margin-bottom: 16px
}

.contacts__info-item span {
  color: inherit
}

.contacts__info-item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__info-item a:hover {
    color: var(--hover)
  }
}

.contacts__info-item a:focus-visible {
  color: var(--hover)
}

.contacts__info-item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.form {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 447px;
  flex: 0 1 447px;
  width: 100%;
  margin-top: 32px
}

@media (max-width:991px) {
  .form {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 447px;
    margin: 0 auto;
    margin-top: 0
  }
}

.form__inputs:not(:last-child) {
  margin-bottom: 24px
}

.form__input:not(:last-child) {
  margin-bottom: 16px
}

.form__button {
  margin-left: auto
}

.terms {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 80px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--black);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}