:root {
  // Шрифты
  --font-main: "Kanit", sans-serif; // 1 шрифт на странице
  --font-second: "PlayfairDisplay", sans-serif; // 2 шрифт на странице
  // Контейнер
  --container-width: 1115px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #f7f7f7; // бекграунд страницы
  --white: #ffffff;
  --black: #000000;
  --main: #000000;
  --gray: #edebe4;

  --hover: #707070; // цвет при ховере
  --active: #D2D2D2; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.webp {
  & .hero {
    background-image: url(../../img/hero.webp);
  }

  & .bar__content {
    background-image: url(../../img/bar.webp);
  }
}

.no-webp {
  & .hero {
    background-image: url(../../img/hero.jpg);
  }

  & .bar__content {
    background-image: url(../../img/bar.jpg);
  }
}

.tt-64-47 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 64px;
  line-height: 120%;

  @media (max-width: 991px) {
    font-size: 54px;
  }

  @media (max-width: 600px) {
    font-size: 47px;
  }
}

.tt-31-26 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 31px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-53-40 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 53px;
  line-height: 120%;

  @media (max-width: 991px) {
    font-size: 46px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.tx-17 {
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}

.tx-23 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%;
}

.input {
  display: block;
  padding: 0 16px;
  width: 100%;
  min-height: 58px;
  border-bottom: 1px solid var(--black);
  font-weight: 300;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  background-color: transparent;
  transition: border-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--hover);
    }
  }

  &:focus-visible {
    border-color: var(--hover);
  }

  &::placeholder {
    opacity: .3;
  }
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--black);
  width: fit-content;
  border-radius: 37px;
  min-width: 160px;
  min-height: 42px;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}