:root {
  // Шрифты
  --font-main: "Inter", sans-serif; // 1 шрифт на странице
  --font-second: "Fraunces", sans-serif; // 2 шрифт на странице

  // Контейнер
  --container-width: 1120px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #F7F7F7; // бекграунд страницы
  --brown: #9A6C46;
  --white: #ffffff;
  --black: #000000;
  --main: #000000;
  --gray: #F1F1F1;

  --hover: #b3733f; // цвет при ховере
  --active: #aa7143; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);

  &_change {
    .header__content {
      border-color: var(--black);
    }

    & .nav__link {
      color: var(--black);

      @media (max-width: 991px) {
        color: var(--white);
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }

    & .burger {
      & span {
        background-color: var(--black);  
      }
    }
  }
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}

.tx-23-20 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%;

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tt-64-40 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 64px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 54px;
  }

  @media (max-width: 991px) {
    font-size: 48px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.tt-53-36 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 53px;
  line-height: 120%;

  @media (max-width: 991px) {
    font-size: 46px;
  }

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.tt-31-24 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 31px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--brown);
  width: fit-content;
  border-radius: 10px;
  min-width: 173px;
  min-height: 46px;
  transition: background-color .3s ease-in-out;

  & img {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
  }

  & svg {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.input {
  display: block;
  padding: 0 24px;
  border-radius: 4px;
  width: 100%;
  min-height: 58px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  background-color: var(--gray);
  border: 2px solid transparent;
  transition: border-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--hover);
    }
  }

  &:focus-visible {
    border-color: var(--hover);
  }

  &::placeholder {
    opacity: .5;
    color: var(--black);
  }
}