@font-face {
  font-family: 'MartianMono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/MartianMono-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'MartianMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/MartianMono-Regular.woff2") format("woff2")
}