@mixin mg-120 {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 24px 0;

  @media (max-width: 991px) {
    padding: 32px 0;
  }

  @media (max-width: 600px) {
    padding: 26px 0;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

section:last-child {
  margin-bottom: 120px;
}

// ======================================================================================================================================================

.hero {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mg-120();

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 1;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 680px;
    position: relative;
    z-index: 2;
  }

  &__content {
    flex: 0 1 590px;

    @media (max-width: 668px) {
      flex: 0 1 100%;
    }

  }

  &__top-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    width: 100%;

    &::before {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 450px) {
        flex: 0 1 24px;
      }
    }

    &::after {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 450px) {
        flex: 0 1 24px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    text-align: center;
    color: var(--white);
  }

  &__title {
    color: var(--orange);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__texts {
    width: 100%;
  }
}

// ======================================================================================================================================================
.about {
  @include mg-120();

  &__title {
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;

    &::before {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 450px) {
        flex: 0 1 24px;
      }
    }

    &::after {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 450px) {
        flex: 0 1 24px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__texts {
    max-width: 1005px;
    width: 100%;
    margin: 0 auto;
  }

  &__text {
    width: 100%;
    text-align: center;
    color: var(--white);
    opacity: .6;
  }
}

// ======================================================================================================================================================

.plays {
  @include mg-120();

  &__title {
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;

    &::before {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 600px) {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 600px) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
      gap: 32px 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__image {
    position: relative;
    padding-bottom: 75%;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 600px) {
        margin-bottom: 8px;
      }
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    &_flex {
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;
    }
  }

  &__teams {
    flex: 1;
    color: var(--white);

    & span {
      display: block;

      @media (max-width: 600px) {
        display: inline;
      }
    }

    &_spani {
      & span {
        display: block;

        @media (max-width: 600px) {
          display: inline;
        }
      }
    }

  }

  &__score {
    flex-shrink: 0;
    color: var(--orange);
  }

  &__data {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    color: var(--white);

    &::before {
      content: "";
      display: block;
      flex: 0 1 72px;
      height: 1px;
      background-color: var(--orange);
    }
  }

  &__link {
    margin: 0 auto;
  }
}

// ======================================================================================================================================================
.page-players {
  padding-top: 160px;
  @include mg-120();

  &__title {
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;

    &::before {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 600px) {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      flex: 0 1 103px;
      height: 1px;
      background-color: var(--orange);

      @media (max-width: 600px) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__list {}

  &__item {
    display: flex;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__image {
    width: 100%;
    flex: 0 1 487px;
    height: 367px;

    @media (max-width: 991px) {
      max-width: 328px;
      height: 247px;
      margin: 0 auto;
      flex: none;
    }

    @media (max-width: 600px) {}

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;
    flex: 0 1 694px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__descr-top {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 24px
    }
  }

  &__subtitle {
    color: var(--white);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 16px
    }
  }

  &__score {
    text-align: center;
    color: var(--orange);

    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: 600px) {
        margin-bottom: 16px
      }
    }
  }

  &__texts {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 24px
    }
  }

  &__text {
    color: var(--white);
    width: 100%;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 24px
    }
  }

  &__data {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    color: var(--white);

    &::before {
      content: "";
      display: block;
      flex: 0 1 72px;
      height: 1px;
      background-color: var(--orange);
    }
  }
}

// ======================================================================================================================================================
.contacts {
  @include mg-120();

  &_2 {
    padding: 160px 0 0 0;
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 63%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    &_flex {
      display: flex;
      gap: 32px;

      @media (max-width: 991px) {
        gap: 24px;
        flex-direction: column;
      }

    }
  }

  &__bottom-left {
    width: 100%;

    &_2 {
      flex: 0 1 487px;

      @media (max-width: 991px) {
        flex: none;
      }

    }
  }

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__texts {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 29px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__text {
    color: var(--white);
    opacity: .7;
    width: 100%;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__bottom-right {
    width: 100%;

    &_2 {
      flex: 0 1 694px;

      @media (max-width: 991px) {
        flex: none;
      }

    }
  }

  &__map {
    width: 100%;
    height: 409px;

    &_2 {
      height: 100%;
    }

    @media (max-width: 991px) {
      height: 386px;
    }

    @media (max-width: 600px) {
      height: 189px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__address {
    display: block;
    width: 100%;
    font-style: normal;
  }

  &__addres-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    text-align: left;

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    & img {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.contacts-list {
  width: 100%;

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: var(--white);
    text-align: left;
  }

  &__el {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-radius: 5px;
    padding: 20px 16px;

    &_background {
      background-color: #252525;
    }
  }

  &__data {
    color: var(--white);
    text-align: left;
    opacity: .5;
  }
}


.form {
  display: block;
  width: 100%;

  &__inputs {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {}
}

// ======================================================================================================================================================
.footer {
  padding-bottom: 56px;

  @media (max-width: 991px) {
    padding-bottom: 75px;
  }

  @media (max-width: 600px) {
    padding-bottom: 45px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.terms {
  padding: 160px 0 0 0;

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--white);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--white);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--l-brown);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}