:root {
  --hover: #0e4380;
  --active: #0e4380;
}

.container {
  max-width: 950px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

main {
  flex: 1 1 auto;
} 