@mixin mb-80 {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header {
  padding: 24px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================
.hero {

  &__content {
    min-height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }

  &__descr {
    text-align: center;
    flex: 0 1 759px;
    position: relative;
    z-index: 2;
  }

  &__title {
    color: var(--white);
    @include mb-16();

    & span {
      display: block;
    }
  }

  &__text {
    max-width: 677px;
    width: 100%;
    margin: 0 auto;
    color: var(--white);
  }
}

// ======================================================================================================================================================
.vorteile {
  padding: 40px 0;
  background-color: var(--gray2);
  @include mb-80();

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
  }

  &__wrapper-icon {
    width: 64px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--black);
    @include mb-8();
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr {
    width: 100%;
  }

  &__subtitle {
    color: var(--main);
    @include mb-8();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.feier {
  @include mb-80();

  &__head {
    @include mb-24();
  }

  &__title {
    color: var(--main);
    @include mb-24();
  }

  &__text {
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    width: 100%;
    @include mb-24();
  }

  &__button {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: opacity .3s ease-in-out;

    @media (max-width: 991px) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: .4;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:focus-visible {
      opacity: .6;
    }

    &:active {
      opacity: .6;
      transition-duration: .1s;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    z-index: 1;

    & .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
      margin: 0 !important;
      background-color: var(--white);
    }

    & .swiper-pagination-bullet-active {
      width: 6px;
      height: 6px;
      opacity: 1;
    }
  }
}

.feier-slider {
  position: relative;

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 315px;
    padding: 32px 80px;

    @media (max-width: 991px) {
      padding: 32px 10px;
    }

  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }

  &__descr {
    position: relative;
    z-index: 2;
  }

  &__title {
    color: var(--white);
    text-align: center;
    @include mb-8();
  }

  &__texts {
    width: 100%;
    max-width: 544px;
    margin: 0 auto;
  }

  &__text {
    color: var(--white);
    text-align: center;
    @include mb-8();
  }
}

.feier-slider-prev {
  left: 24px;
  transform: rotate(180deg);
}

.feier-slider-next {
  right: 24px;
}

// ======================================================================================================================================================
.zahlen {
  @include mb-80();

  &__title {
    color: var(--main);
    @include mb-32();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 42px 32px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {}

  &__image {
    height: 318px;
    @include mb-16();

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    color: var(--main);
    @include mb-8();
  }

  &__sublist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    @include mb-8();
  }

  &__subitem {
    color: var(--main);

    &:not(:last-child) {
      &::after {
        content: "|";
        color: var(--main);
        margin-left: 16px;
      }
    }
  }

  &__texts {
    width: 100;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.plays {
  @include mb-80();
  padding: 120px 0 0 0;

  @media (max-width: 991px) {
    padding: 100px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 60px 0 0 0;
  }

  &__item {
    @include mb-80();
  }

  &__top {
    @include mb-24();
  }

  &__title {
    color: var(--main);
    @include mb-24();
  }

  &__subtitle {
    color: var(--main);
    @include mb-16();
  }

  &__text {
    color: var(--main);
    @include mb-16();
  }

  &__bottom {}

  &__image {
    height: 319px;
    @include mb-16();

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__list {
    width: 100%;
    @include mb-24();
  }

  &__list-item {
    @include mb-8();
  }
}

// ======================================================================================================================================================
.contacts {
  padding: 120px 0 0 0;

  @media (max-width: 991px) {
    padding: 100px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 60px 0 0 0;
  }

  &__top {
    @include mb-80();
  }

  &__title {
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    width: 100%;
    @include mb-24();
  }

  &__text {
    color: var(--main);
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    gap: 32px;
    width: 100%;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__list {
    width: 100%;
    flex: 0 1 256px;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__item {
    color: var(--main);
    @include mb-8();

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }
  }

  &__map {
    width: 100%;
    flex: 0 1 831px;
    height: 368px;

    @media (max-width: 991px) {
      flex: none;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: 991px) {
    gap: 16px;
  }

  &__inputs {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;
    flex: 0 1 909px;
    width: 100%;

    @media (max-width: 991px) {
      flex: 0 1 100%;
      gap: 16px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__input {}

  &__button {
    @media (max-width: 991px) {
      margin: 0 auto;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 120px 0 0 0;

  @media (max-width: 991px) {
    padding: 100px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 60px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 16px;
  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}