@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 200px;

    @media (max-width: 991px) {
      margin-bottom: 160px;
    }

    @media (max-width: 600px) {
      margin-bottom: 120px;
    }
  }
}

@mixin marginTitle {
  &:not(:last-child) {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      margin-bottom: 42px;
    }

    @media (max-width: 600px) {
      margin-bottom: 24px;
    }
  }
}

.header {
  padding: 25px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--white);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 35px;
  height: 15px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  @include marginBlock();
  padding-top: 120px;

  @media (max-width: 991px) {
    padding-top: 100px;
  }

  @media (max-width: 600px) {
    padding-top: 80px;
  }

  &__container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 64px 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

  }

  &__left {
    width: 100%;

    @media (max-width: 600px) {
      text-align: center;
    }
  }

  &__title {
    color: var(--black);
    @include marginTitle();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    border-radius: 65px;
    overflow: hidden;

    @media (max-width: 600px) {
      border-radius: 0;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.about {
  position: relative;
  @include marginBlock();

  &_2 { 
    padding-top: 120px;

    @media (max-width: 991px) {
      padding-top: 100px;
    }

    @media (max-width: 600px) {
      padding-top: 80px;
    }
  }

  &__title {
    text-align: center;
    color: var(--black);
    @include marginTitle();
  }

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 42px;
    }
  }

  &__subtitle {
    text-align: center;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__texts {
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
    @include marginTitle();
  }

  &__text {
    text-align: center;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding-bottom: 50%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.benefits {
  @include marginBlock();

  &__title {
    text-align: center;
    color: var(--black);
    @include marginTitle();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;
    @include marginTitle();

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__item {
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    padding: 32px 24px;

    @media (max-width: 991px) {
      padding: 32px 16px;
    }

    @media (max-width: 600px) {
      padding: 32px 10px;
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    @media (max-width: 600px) {
      width: 80px;
      height: 80px;
    }

    &:not(:last-child) {
      margin-bottom: 42px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__texts {
    width: 100%;
    text-align: center;
  }

  &__text {
    color: var(--black);
  }

  &__link {
    margin: 0 auto;
  }
}

// ======================================================================================================================================================

.contacts {
  @include marginBlock();
  padding-top: 120px;

  @media (max-width: 991px) {
    padding-top: 100px;
  }

  @media (max-width: 600px) {
    padding-top: 80px;
  }

  &__map {
    position: relative;
    width: 100%;
    padding-bottom: 30%;

    @media (max-width: 991px) {
      padding-bottom: 60%;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__top {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 64px 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    @include marginTitle();

  }

  &__left {
    width: 100%;

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &__title {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__texts {
    width: 100%;
    max-width: 600px;

    @media (max-width: 991px) {
      max-width: none;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__address {
    width: 100%;
    font-style: normal;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__link {
    color: var(--black);
    display: block;
    transition: color .3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  &__text {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 67%;

    @media (max-width: 991px) {
      display: none;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.form {
  display: block;
  width: 100%;

  &__inputs {
    max-width: 410px;
    width: 100%;

    @media (max-width: 991px) {
      max-width: none;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 0 16px;
    border: 2px solid var(--blue);
    background-color: transparent;
    color: var(--black);
    transition: border-color .3s ease-in-out;

    &::placeholder {
      opacity: .6;
      color: var(--black);
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--hover);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {
    @media (max-width: 991px) {
      margin: 0 auto;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px;
  }

  &__item {}

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--hover);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================


.terms {
  @include marginBlock();
  padding-top: 120px;

  @media (max-width: 991px) {
    padding-top: 100px;
  }

  @media (max-width: 600px) {
    padding-top: 80px;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}