@font-face {
  font-family: 'MPLUS1Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/MPLUS1Code-Light.woff2") format("woff2")
}

@font-face {
  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Wellfleet-Regular.woff2") format("woff2")
}