@font-face {
  font-family: 'RedHatDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/RedHatDisplay-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'AbrilFatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/AbrilFatface-Regular.woff2") format("woff2")
}