:root {
  // Шрифты
  --font-main: Arial; // главный шрифт на странице

  // Контейнер
  --container-width: 1180px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #130f0f; // бекграунд страницы
  --white: #ffffff;
  --gray: #cacaca;

  --hover: #7ca736; // цвет при ховере
  --active: #628a23; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-42-26 {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;

  @media (max-width: 1220px) {
    font-size: 38px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-36-24 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;

  @media (max-width: 1220px) {
    font-size: 32px;
  }

  @media (max-width: 991px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-24-18 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tx-20-16 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.tx-16-14 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  font-size: 20px;
  line-height: 1;
  min-width: 160px;
  width: fit-content;
  min-height: 60px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--gray);
  border-radius: 12px;
  transition: background-color .3s ease-in-out;

  @media (max-width: 991px) {
    font-size: 18px;
    min-height: 55px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
    min-height: 50px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.input {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: transparent; 
  border: 1px solid var(--white);
  transition: background-color .3s ease-in-out;

  @media (max-width: 991px) {
    font-size: 16px;
    min-height: 45px;
  }

  @media (max-width: 600px) {
    font-size: 14px;
    min-height: 40px;
  }

  @media (any-hover: hover) {
    &:hover {
   background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &::placeholder {
    opacity: .6;
  }
}

.webp {
  & .hero {
    background-image: url(../../img/1.webp);
  }
}

.no-webp {
  & .hero {
    background-image: url(../../img/1.png);
  }
}