* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: DMSerifDisplay;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/DMSerifDisplay-Regular.woff2) format("woff2")
}

@font-face {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Forum-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Forum", sans-serif;
  --font-second: "DMSerifDisplay", sans-serif;
  --container-width: 1120px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #F4F4F4;
  --biskvit: #FAF2E9;
  --white: #ffffff;
  --black: #000000;
  --main: #000000;
  --gray: #ececec;
  --hover: #979797;
  --active: #FAF2E9
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 60px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-64-40 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 64px;
  line-height: 129%
}

@media (max-width:991px) {
  .tt-64-40 {
    font-size: 50px
  }
}

@media (max-width:600px) {
  .tt-64-40 {
    font-size: 40px
  }
}

.tt-53-36 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-53-36 {
    font-size: 42px
  }
}

@media (max-width:600px) {
  .tt-53-36 {
    font-size: 36px
  }
}

.tt-31 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 31px;
  line-height: 140%
}

.tx-22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--black);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 41px;
  min-width: 131px;
  min-height: 46px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.input {
  display: block;
  width: 100%;
  padding: 0 24px;
  min-height: 62px;
  border-radius: 35px;
  background-color: var(--gray);
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .4;
  color: var(--black)
}

.input::-moz-placeholder {
  opacity: .4;
  color: var(--black)
}

.input:-ms-input-placeholder {
  opacity: .4;
  color: var(--black)
}

.input::-ms-input-placeholder {
  opacity: .4;
  color: var(--black)
}

.input::placeholder {
  opacity: .4;
  color: var(--black)
}

.header {
  padding: 24px 0;
  background-color: var(--biskvit)
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
}

.header-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.header-menu__container_flex {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.header-menu__top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px 0;
  background-color: var(--biskvit)
}

.header-menu__exit {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (any-hover:hover) {
  .header-menu__exit:hover::before {
    background-color: var(--hover)
  }

  .header-menu__exit:hover::after {
    background-color: var(--hover)
  }
}

.header-menu__exit:focus-visible::before {
  background-color: var(--hover)
}

.header-menu__exit:focus-visible::after {
  background-color: var(--hover)
}

.header-menu__exit:active::before {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header-menu__exit:active::after {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header-menu__exit::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

.header-menu__exit::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

.nav {
  width: 100%
}

.nav__list {
  width: 100%
}

.nav__item:not(:last-child) {
  margin-bottom: 16px
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 44px;
  height: 14px;
  background-color: transparent
}

@media (any-hover:hover) {
  .burger:hover span {
    background-color: var(--hover)
  }
}

.burger:focus-visible {
  background-color: var(--hover)
}

.burger:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  border-radius: 8px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

.burger span:nth-child(2) {
  width: 70%;
  margin-left: auto
}

.hero:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .hero {
    padding-top: 80px
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.hero__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 544px;
  flex: 0 1 544px;
  width: 100%;
  padding-top: 100px
}

@media (max-width:991px) {
  .hero__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 0
  }
}

.hero__left-top:not(:last-child) {
  margin-bottom: 130px
}

@media (max-width:991px) {
  .hero__left-top:not(:last-child) {
    margin-bottom: 60px
  }
}

@media (max-width:600px) {
  .hero__left-top:not(:last-child) {
    margin-bottom: 32px
  }
}

.hero__texts:not(:last-child) {
  margin-bottom: 16px
}

.hero__text {
  color: var(--main)
}

.hero__text:not(:last-child) {
  margin-bottom: 16px
}

.hero__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: var(--main)
}

.hero__title:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:600px) {
  .hero__title {
    padding-bottom: 4px
  }
}

.hero__title::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 1px;
  margin-bottom: 16px;
  background-color: var(--black)
}

@media (max-width:600px) {
  .hero__title::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 32px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0
  }
}

.hero__image {
  width: 100%
}

@media (max-width:991px) {
  .hero__image {
    max-width: 544px;
    margin: 0 auto
  }
}

.hero__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.hero__image_1 {
  height: 469px
}

.hero__image_2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 544px;
  flex: 0 1 544px;
  height: 751px
}

@media (max-width:991px) {
  .hero__image_2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 469px
  }
}

.accommodation {
  padding: 60px 0;
  background-color: var(--black)
}

.accommodation:not(:last-child) {
  margin-bottom: 60px
}

.accommodation__title {
  color: var(--white);
  text-align: center
}

.accommodation__title:not(:last-child) {
  margin-bottom: 32px
}

.accommodation__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 24px 32px
}

@media (max-width:991px) {
  .accommodation__list {
    gap: 24px;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr)
  }
}

@media (max-width:600px) {
  .accommodation__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.accommodation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%
}

.accommodation__image {
  height: 241px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.accommodation__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.accommodation__descr {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 16px 8px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-top: 0
}

.accommodation__descr-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px 16px
}

.accommodation__descr-top:not(:last-child) {
  margin-bottom: 8px
}

.accommodation__subtitle {
  color: var(--white);
  text-transform: uppercase
}

.accommodation__mans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--white)
}

.accommodation__mans img {
  display: block;
  width: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.accommodation__texts {
  width: 100%
}

.accommodation__text {
  color: var(--white);
  opacity: .6
}

.accommodation__text:not(:last-child) {
  margin-bottom: 8px
}

.slot {
  padding-top: 80px
}

.slot__top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

.slot__top:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:991px) {
  .slot__top {
    gap: 24px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.slot__descr {
  width: 100%
}

.slot__title {
  color: var(--main);
  text-align: center
}

.slot__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:600px) {
  .slot__title {
    padding-bottom: 4px
  }
}

.slot__title_before {
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.slot__title_before::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 1px;
  margin-bottom: 16px;
  background-color: var(--black)
}

@media (max-width:600px) {
  .slot__title_before::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 32px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0
  }
}

.slot__texts {
  width: 100%;
  text-align: center
}

.slot__texts:not(:last-child) {
  margin-bottom: 32px
}

.slot__texts_align {
  text-align: left
}

.slot__texts_width {
  max-width: 736px;
  margin: 0 auto
}

.slot__text {
  color: var(--main)
}

.slot__text:not(:last-child) {
  margin-bottom: 16px
}

.slot__image {
  width: 100%;
  height: 504px
}

@media (max-width:991px) {
  .slot__image {
    height: 400px
  }
}

@media (max-width:600px) {
  .slot__image {
    height: 300px
  }
}

.slot__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.slot__image_2 {
  height: 339px
}

.slot__middle:not(:last-child) {
  margin-bottom: 120px
}

.slot:not(:last-child) {
  margin-bottom: 120px
}

.contacts {
  padding-top: 80px
}

.contacts:not(:last-child) {
  margin-bottom: 120px
}

.contacts__top:not(:last-child) {
  margin-bottom: 32px
}

.contacts__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: var(--main)
}

.contacts__title:not(:last-child) {
  margin-bottom: 16px
}

.contacts__title::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 1px;
  margin-bottom: 16px;
  background-color: var(--black)
}

@media (max-width:600px) {
  .contacts__title::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 32px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0
  }
}

.contacts__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

.contacts__middle:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:991px) {
  .contacts__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.contacts__texts {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 352px;
  flex: 0 1 352px;
  width: 100%
}

@media (max-width:991px) {
  .contacts__texts {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.contacts__text {
  color: var(--main)
}

.contacts__text:not(:last-child) {
  margin-bottom: 8px
}

.contacts__bottom {
  width: 100%
}

.contacts__address {
  font-style: normal;
  width: 100%
}

.contacts__address:not(:last-child) {
  margin-bottom: 24px
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--main)
}

@media (max-width:600px) {
  .contacts__item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.contacts__item span {
  opacity: .6
}

.contacts__item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__item a:hover {
    color: var(--hover)
  }
}

.contacts__item a:focus-visible {
  color: var(--hover)
}

.contacts__item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__map {
  width: 100%;
  height: 470px
}

@media (max-width:991px) {
  .contacts__map {
    height: 400px
  }
}

@media (max-width:600px) {
  .contacts__map {
    height: 320px
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.form {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 735px;
  flex: 0 1 735px
}

@media (max-width:991px) {
  .form {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

.form__inputs:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .form__inputs {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__button {
  margin-left: auto
}

.restaurant:not(:last-child) {
  margin-bottom: 60px
}

.restaurant__title {
  color: var(--main);
  text-align: center
}

.restaurant__title:not(:last-child) {
  margin-bottom: 32px
}

.restaurant__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px
}

@media (max-width:991px) {
  .restaurant__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.restaurant__left {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 832px;
  flex: 0 1 832px
}

@media (max-width:991px) {
  .restaurant__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.restaurant__left-top {
  display: none
}

@media (max-width:991px) {
  .restaurant__left-top {
    display: block
  }

  .restaurant__left-top:not(:last-child) {
    margin-bottom: 32px
  }
}

.restaurant__left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:991px) {
  .restaurant__left-bottom {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.restaurant__image {
  width: 100%
}

.restaurant__image_1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 544px;
  flex: 0 1 544px;
  height: 500px
}

@media (max-width:768px) {
  .restaurant__image_1 {
    height: 400px
  }
}

@media (max-width:500px) {
  .restaurant__image_1 {
    height: 300px
  }
}

.restaurant__image_2 {
  height: 320px
}

@media (max-width:768px) {
  .restaurant__image_2 {
    height: 240px
  }
}

@media (max-width:500px) {
  .restaurant__image_2 {
    height: 180px
  }
}

.restaurant__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.restaurant__bottom-right {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 352px;
  flex: 0 1 352px;
  width: 100%;
  margin-left: -8%
}

.restaurant__subtitle {
  text-transform: uppercase;
  padding-left: 90px;
  color: var(--main)
}

.restaurant__subtitle:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:600px) {
  .restaurant__subtitle:not(:last-child) {
    margin-bottom: 32px
  }
}

@media (max-width:991px) {
  .restaurant__subtitle {
    text-align: center;
    padding-left: 0
  }
}

.restaurant__texts {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 256px;
  flex: 0 1 256px;
  width: 100%
}

@media (max-width:991px) {
  .restaurant__texts {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

.footer__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.facilities {
  padding: 60px 0;
  background-color: var(--biskvit)
}

.facilities:not(:last-child) {
  margin-bottom: 60px
}

.facilities__title {
  text-align: center;
  color: var(--main)
}

.facilities__title:not(:last-child) {
  margin-bottom: 32px
}

.facilities__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .facilities__list {
    gap: 24px
  }
}

@media (max-width:668px) {
  .facilities__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.facilities__item {
  width: 100%;
  position: relative;
  min-height: 328px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.facilities__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.facilities__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(110%, #000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, #000 110%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 110%);
  z-index: 1
}

.facilities__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.facilities__subtitle {
  position: relative;
  z-index: 2;
  color: var(--white)
}

.terms {
  padding: 80px 0 0 0
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--biskvit);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}