@font-face {
  font-family: 'Arya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Arya-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'AveriaLibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/AveriaLibre-Regular.woff2") format("woff2")
}
