@font-face {
  font-family: 'PlaypenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/PlaypenSans-SemiBold.woff2") format("woff2")
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/JetBrainsMono-Regular.woff2") format("woff2")
}