@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Cabin-Bold.woff2") format("woff2")
}
 
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Oxygen-Regular.woff2") format("woff2")
}