@font-face {
  font-family: 'CroissantOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/CroissantOne-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Raleway-Regular.woff2") format("woff2")
}