@mixin mb-60 {
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

@mixin mb-120 {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.header {
  padding: 24px 0;
  background-color: transparent;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

    &_footer {

      @media (max-width: 991px) {
        flex-direction: row;
        gap: 10px 16px;
      }

    }
  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}


.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 30px;
  height: 16px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

// ======================================================================================================================================================

.hero {
  @include mb-60();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1110px) {
    padding-top: 42px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 24px 32px;
    padding-right: 0;
    max-width: 1920px;

    @media (max-width: 1110px) {
      flex-direction: column;
    }

  }

  &__descr {
    flex: 0 1 544px;
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (max-width: 1110px) {
      flex: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: var(--container-step-tablet);
    }

  }

  &__title {
    @include mb-16();
    padding-bottom: 8px;
    color: var(--main);
    position: relative;
  }

  &__texts {
    @include mb-32();
    width: 100%;
  }

  &__text {
    @include mb-8();
    opacity: .5;
    color: var(--main);
  }

  &__link {}

  &__image {
    flex: 0 1 697px;
    height: 649px;

    @media (max-width: 1440px) {
      flex: 0 1 531px;
      height: 495px;
    }

    @media (max-width: 1110px) {
      width: 531px;
      margin-left: auto;
      flex: none;
    }

    @media (max-width: 600px) {
      width: 260px;
      height: 245px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

  }
}

// ======================================================================================================================================================

.escaparate {
  @include mb-60();

  &__title {
    @include mb-24();
  }

  &__top {
    @include mb-24();
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__top-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark);
  }

  &__top-image {
    position: relative;
    flex-shrink: 0;
    height: 299px;
    width: 100%;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__top-info {
    position: absolute;
    bottom: 16px;
    right: 0;
    width: fit-content;
    z-index: 1;
    background-color: var(--orange2);
    padding: 6px 7px 6px 17px;
    border-radius: 16px 0 0 16px;
    color: var(--white);
  }

  &__top-descr {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 16px;

    @media (max-width: 600px) {
      padding: 16px 10px;
    }
  }

  &__top-name {
    @include mb-8();
    color: var(--main);
  }

  &__top-texts {
    @include mb-16();
    height: 100%;
    flex: 1
  }

  &__top-text {
    @include mb-8();
    color: var(--main)
  }

  &__top-link {
    margin-left: auto
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px 32px;
  }

  &__item {
    flex: 0 1 538px;
    width: 100%;
    min-height: 767px;
    background-color: var(--dark);

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 353px;
    width: 100%;

    @media (max-width: 600px) {
      height: 300px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descr {
    padding: 16px;
  }

  &__name {
    @include mb-8();
    color: var(--main)
  }

  &__texts {
    width: 100%;
  }

  &__text {
    @include mb-8();
    opacity: .5;
    color: var(--main)
  }
}

// ======================================================================================================================================================

.slot {
  @include mb-60();
  padding-top: 80px;

  &__title {
    @include mb-16();
    color: var(--main)
  }

  &__texts {
    @include mb-16();
    width: 100%;
  }

  &__text {
    @include mb-16();
    color: var(--main)
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

  }

  &__image {
    width: 100%;
    height: 340px;

    @media (max-width: 600px) {
      height: 300px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.about {
  @include mb-60();

  &__title {
    @include mb-24();
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

  }

  &__column {
    width: 100%;
  }

  &__texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    color: var(--main)
  }

  &__subtitle {
    @include mb-24();
    color: var(--main);
  }

  &__list {
    width: 100%;
  }

  &__item {
    @include mb-16();
  }
}

// ======================================================================================================================================================

.contacts {
  @include mb-60();
  padding-top: 80px;
  &__title {
    @include mb-24();
    color: var(--main);
  }

  &__top {
    @include mb-120();
    display: flex;
    align-items: flex-start; 
    gap: 24px 32px;
  
    @media (max-width: 991px) {
      flex-direction: column;
    }
   
  }

  &__descr {
    flex: 0 1 448px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__subtitle {
    @include mb-8();
    color: var(--main);
  }

  &__texts {
    @include mb-8();
    width: 100%;
  }

  &__text {
    @include mb-16();
    color: var(--main);

    &_opacity {
      opacity: .6;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    gap: 24px 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

  }

  &__map {
    width: 100%;
    flex: 0 1 736px;
    height: 449px;

    @media (max-width: 991px) {
      height: 380px;
      flex: none;
    }

    @media (max-width: 600px) {
      height: 320px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__address {
    font-style: normal;
    flex: 0 0 281px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__info {
    width: 100%;
  }

  &__info-item {
    @include mb-16();
    color: var(--main);

    & a {
      display: block;
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }
  }

  &__info-span {
    display: block;
    color: var(--main);
    opacity: .6;
  }

  &__info-text {
    color: var(--main);
  }
}

.form {
  width: 100%;
  flex: 0 1 528px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 24px 32px;

  @media (max-width: 991px) {
    flex: none;
    max-width: 510px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }

  &__inputs {
    flex: 0 1 352px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__input {
    @include mb-16();
  }

  &__button {}
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 50px;
}

// ======================================================================================================================================================

.terms {
  padding: 80px 0 0 0;

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--orange);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}