@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Lexend-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Lexend-SemiBold.woff2") format("woff2")
}