@font-face {
  font-family: 'SansitaSwashed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/SansitaSwashed-Bold.woff2") format("woff2")
}


@font-face {
  font-family: 'VarelaRound';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/VarelaRound-Regular.woff2") format("woff2")
}
