@font-face {
  font-family: 'Poly';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Poly-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/DMSerifDisplay-Regular.woff2") format("woff2")
}