@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Eczar-Regular.woff2") format("woff2")
}
 
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Eczar-SemiBold.woff2") format("woff2")
}
