@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Scada-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Mukta-ExtraBold.woff2") format("woff2")
}