.header {
  display: none;
}

.footer {
  display: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 39px 0 47px 0;
  flex: 1;
  overflow: hidden;

  @media (max-width: 600px) {
    padding: 32px 0 25px 0;
  }

  &__image {
    position: absolute;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      width: 878px;
      height: 858px;
      top: -70px;
      left: -140px;
      z-index: 1;

      @media (max-width: 1780px) {
        width: 678px;
        height: 658px;
        top: -30px;
        left: -180px;
      }

      @media (max-width: 1430px) {
        width: 578px;
        height: 558px;
        left: -120px;
      }

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        width: 478px;
        height: 458px;
        top: 0;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    &_2 {
      bottom: -70px;
      left: -60px;
      width: 700px;
      height: 735px;
      z-index: 2;

      @media (max-width: 1780px) {
        left: -160px;
        bottom: 30px;
      }

      @media (max-width: 1430px) {
        width: 600px;
        height: 635px;
      }

      @media (max-width: 991px) {
        width: 400px;
        height: 435px;
        left: -100px;
        bottom: auto;
        top: 30%;
      }

      @media (max-width: 600px) {
        left: auto;
        right: -180px;
        top: 20px;
        width: 423px;
        height: 535px;
        transform: rotate(-54deg);
      }

      @media (max-width: 450px) { 
        right: -220px; 
      }
    }

    &_3 {
      top: -120px;
      right: -210px;
      width: 924px;
      height: 946px;
      z-index: 1;

      @media (max-width: 1780px) {
        width: 724px;
        height: 746px;
        top: -60px;
        right: -240px;
      }

      @media (max-width: 1430px) {
        width: 624px;
        height: 646px;
      }

      @media (max-width: 991px) {
        width: 500px;
        height: 500px;
        right: -140px;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    &_4 {
      width: 634px;
      height: 719px;
      bottom: -40px;
      right: -100px;
      z-index: 2;

      @media (max-width: 1780px) {
        width: 534px;
        height: 619px;
        bottom: 30px;
      }

      @media (max-width: 1430px) {
        width: 434px;
        height: 519px;
      }

      @media (max-width: 991px) {
        width: 334px;
        height: 419px;
        right: -40px;
        bottom: auto;
        top: 30%;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    &_5 {
      display: none;

      @media (max-width: 600px) {
        display: block;
        top: -20px;
        left: -200px;
        width: 480px;
        height: 580px;
      } 
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__logo {
    flex-shrink: 0;
    margin: 0 auto;
    width: 803px;
    height: 215px;

    @media (max-width: 1430px) {
      position: relative;
      z-index: 10;
      width: 600px;
      height: 164px;
    }

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      width: 400px;
      height: 110px;
    }

    @media (max-width: 600px) {
      width: 328px;
      height: 88px;
    }

    @media (max-width: 374px) {
      width: 100%;
    }

    &:not(:last-child) {

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;

    @media (max-width: 1220px) {
      position: relative;
      z-index: 10;
    }

    @media (max-width: 600px) {
      justify-content: flex-end;
    }
  }

  &__texts {
    flex: 1;
    width: 100%;
    text-align: center;

    @media (max-width: 600px) {
      flex: none;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__num {
    color: var(--pink);
  }

  &__text {
    color: var(--pink);

    &_change {
      color: var(--white);

      @media (max-width: 600px) {
        font-size: 20px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 9px;
      @media (max-width: 600px) {
          margin-bottom: 0;
      }
    }
  }

  &__link {
    margin: 0 auto;
    position: relative;
    z-index: 10;

    @media (max-width: 600px) {
      min-width: 0;
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 78px;

      @media (max-width: 991px) {
        margin-bottom: 52px;
      }

      @media (max-width: 600px) {
        margin-bottom: 32px;
      }
    }
  }

  &__footer {
    width: 100%;
  }

  &__pays {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      gap: 9px 23px;
    }

    @media (max-width: 374px) {
      gap: 5px;
    }

    &:not(:last-child) {

      @media (max-width: 600px) {
        margin-bottom: 40px;
      }
    }
  }

  &__pay {
    display: block;
    height: 66px;

    @media (max-width: 991px) {
      height: 45px;
    }

    @media (max-width: 600px) {
      display: none;
      height: 32px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_visible {

      @media (max-width: 600px) {
        display: block;
      }
    }

    &_1 {
      flex: 0 0 73px;

      @media (max-width: 991px) {
        flex: 0 0 55px;
      }

      @media (max-width: 600px) {
        order: 7;
        flex: 0 0 35px;
      }
    }

    &_2 {
      flex: 0 0 122px;

      @media (max-width: 991px) {
        flex: 0 0 95px;
      }

      @media (max-width: 600px) {
        order: 3;
        flex: 0 0 59px;
      }
    }

    &_3 {
      flex: 0 0 60px;

      @media (max-width: 991px) {
        flex: 0 0 45px;
      }
    }

    &_4 {
      flex: 0 0 118px;

      @media (max-width: 991px) {
        flex: 0 0 100px;
      }

      @media (max-width: 600px) {
        order: 1;
        flex: 0 0 57px;
      }
    }

    &_5 {
      flex: 0 0 48px;

      @media (max-width: 991px) {
        flex: 0 0 35px;
      }
    }

    &_6 {
      flex: 0 0 53px;

      @media (max-width: 991px) {
        flex: 0 0 45px;
      }

      @media (max-width: 600px) {
        order: 6;
        flex: 0 0 29px;
      }
    }

    &_7 {
      flex: 0 0 61px;

      @media (max-width: 991px) {
        flex: 0 0 50px;
      }

      @media (max-width: 600px) {
        order: 8;
        flex: 0 0 33px;
      }
    }

    &_8 {
      flex: 0 0 81px;

      @media (max-width: 991px) {
        flex: 0 0 65px;
      }

      @media (max-width: 600px) {
        order: 4;
        flex: 0 0 46px;
      }
    }

    &_9 {
      flex: 0 0 53px;

      @media (max-width: 991px) {
        flex: 0 0 45px;
      }
    }

    &_10 {
      flex: 0 0 89px;

      @media (max-width: 991px) {
        flex: 0 0 65px;
      }

      @media (max-width: 600px) {
        order: 2;
        flex: 0 0 43px;
      }
    }

    &_11 {
      flex: 0 0 61px;

      @media (max-width: 991px) {
        flex: 0 0 55px;
      }

      @media (max-width: 600px) {
        order: 9;
        flex: 0 0 35px;
      }
    }

    &_12 {
      flex: 0 0 61px;

      @media (max-width: 991px) {
        flex: 0 0 55px;
      }
    }

    &_13 {
      flex: 0 0 112px;

      @media (max-width: 991px) {
        flex: 0 0 95px;
      }
    }

    &_14 {
      flex: 0 0 53px;

      @media (max-width: 991px) {
        flex: 0 0 45px;
      }

      @media (max-width: 600px) {
        order: 9;
        flex: 0 0 35px;
      }
    }

    &_15 {
      flex: 0 0 53px;

      @media (max-width: 991px) {
        flex: 0 0 45px;
      }

      @media (max-width: 600px) {
        order: 5;
        flex: 0 0 31px;
      }
    }
  }

  &__downloads {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media (max-width: 600px) {
      display: flex;
    }

    @media (max-width: 374px) {
      gap: 10px;
    }
  }

  &__download {
    flex: 0 1 151px;
  }

  &__download-link {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 6px 0px rgba(120, 137, 228, 0.36);
    border-radius: 5px;
    overflow: hidden;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}