:root {
  // Шрифты
  --font-main: "Poppins", sans-serif; // главный шрифт на странице
  --font-second: "Merriweather", sans-serif; // главный шрифт на странице
  // Контейнер
  --container-width: 1310px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #ffffff; // бекграунд страницы
  --background-menu: #ffffff; // бекграунд страницы
  --brown: #9d5454;
  --black: #000000;
  --white: #ffffff;

  --hover: rgba(157, 84, 84, 0.44); // цвет при ховере
  --active: #9d5454; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 64px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 58px;
  }

  @media (max-width: 1220px) {
    font-size: 48px;
  }

  @media (max-width: 991px) {
    font-size: 40px;
  }

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 53px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 48px;
  }

  @media (max-width: 1220px) {
    font-size: 40px;
  }

  @media (max-width: 991px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 31px;
  line-height: 140%;

  @media (max-width: 1220px) {
    font-size: 28px;
  }

  @media (max-width: 991px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 21px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border: 1px solid var(--brown);
  min-width: 157px;
  min-height: 58px;
  width: fit-content;
  background-color: transparent;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}