:root {
  // Шрифты
  --font-main: "Lato", sans-serif; // 1 шрифт на странице
  --font-second: "Literata", sans-serif; // 2 шрифт на странице

  // Контейнер
  --container-width: 1120px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #FFFFFF; // бекграунд страницы
  --l-green: #75BBB7;
  --gray: #EBEBEB;
  --gray2: #f6f4f4;
  --black: #000000;
  --main: #000000;
  --white: #ffffff;
  --l-toxic: #CDEFB2;
  --dark: #3E3E3E;
  --dark2: #262422;

  --hover: #67b6b2; // цвет при ховере
  --active: #5eada9; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-64-46 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 54px;
  }

  @media (max-width: 600px) {
    font-size: 46px;
  }

  @media (max-width: 400px) {
    font-size: 38px;
  }
}

.tt-53-40 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 53px;
  line-height: 120%;

  @media (max-width: 991px) {
    font-size: 46px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.tt-31-20 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 31px;
  line-height: 140%;

  @media (max-width: 1220px) {
    font-size: 28px;
  }

  @media (max-width: 991px) {
    font-size: 24px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tx-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.tx-23 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%;
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  gap: 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--l-green);
  width: fit-content;
  border-radius: 38px;
  min-width: 134px;
  min-height: 52px;
  transition: background-color .3s ease-in-out;

  &_gray {
    font-size: 17px;
    min-height: 36px;
    min-width: 186px;
    color: var(--main);
    background-color: var(--gray);
  }

  & img {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.input {
  display: block;
  padding: 0 32px;
  border-radius: 47px;
  width: 100%;
  min-height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  background-color: var(--dark);
  border: 2px solid transparent;
  transition: border-color .3s ease-in-out;

  @media (max-width: 991px) {
    padding: 0 24px;
    min-height: 55px;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--hover);
    }
  }

  &:focus-visible {
    border-color: var(--hover);
  }

  &::placeholder {
    opacity: .4;
    color: var(--white);
  }
}