@mixin mb-100 {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

@mixin mb-60-32 {
  &:not(:last-child) {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      margin-bottom: 48px;
    }

    @media (max-width: 600px) {
      margin-bottom: 32px;
    }
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.header {
  padding: 16px 0;

  @media (max-width: 600px) {
    padding: 10px 0;
  }

  &__container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 42px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--hover);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

// ======================================================================================================================================================

.hero {
  @include mb-100();
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__descr {
    flex: 0 1 100%;
    width: 100%;
  }

  &__title {
    @include mb-32();
    text-align: center;
    color: var(--white);
  }

  &__texts {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }

  &__text {
    @include mb-8();
    text-align: center;
    color: var(--white);
  }
}

// ======================================================================================================================================================

.about {
  @include mb-100();

  &__title {
    @include mb-60-32();
    text-align: center;
    color: var(--main);
  }

  &__texts {
    @include mb-32();
    width: 100%;
  }

  &__text {
    @include mb-16();
    color: var(--main);
    text-align: center;
  }
}

// ======================================================================================================================================================

.benefits {
  @include mb-100();

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
  }

  &__icon {
    @include mb-24();
    width: 62px;
    height: 62px;
    margin: 0 auto;

    @media (max-width: 991px) {
      width: 52px;
      height: 52px;
    }

    @media (max-width: 600px) {
      width: 42px;
      height: 42px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr {
    width: 100%;
  }

  &__subtitle {
    @include mb-8();
    text-align: center;
    color: var(--main);
  }

  &__texts {
    width: 100%;
  }

  &__text {
    @include mb-8();
    text-align: center;
    color: var(--main);
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 40px;

  &__logo {
    margin: 0 auto;
    @include mb-32();
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 42px;
  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--hover);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.contacts {
  @include mb-100();
  padding-top: 80px;

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-32();
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 991px) {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column-reverse;
      gap: 24px;
    }

  }

  &__left {
    flex: 0 1 500px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__address {
    width: 100%;
  }

  &__list {
    width: 100%;
  }

  &__item {
    @include mb-8();
    color: var(--main);

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--hover);
        transition-duration: .1s;
      }
    }
  }

  &__map {
    flex: 0 1 600px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
      height: 400px;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  @include mb-32();

  &__inputs {
    @include mb-24();
  }

  &__input {
    @include mb-16();
  }

  &__button {}
}

// ======================================================================================================================================================

.slot {
  @include mb-100();
  padding-top: 80px;

  &__title {
    @include mb-60-32();
    text-align: center;
    color: var(--main);
  }

  &__iframe {
    width: 100%;
    height: 500px;

    @media (max-width: 991px) {
      height: 400px;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.games {
  @include mb-100();

  &__title {
    @include mb-60-32();
    text-align: center;
    color: var(--main);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px 32px;
  }

  &__item {
    flex: 0 1 300px;
    width: 100%;
  }

  &__image {
    @include mb-16();
    display: block;
    width: 100%;
    height: 250px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__link {
    display: block;
    width: 100%;
    color: var(--main);
    text-align: center;
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 80px 0 0 0;


  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;

  &.popup-active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    display: none;
  }

  &.popup-active.show {
    display: flex;
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
  }

  &__body {
    position: relative;
    width: 540px;
    background-color: #000000;
    border-radius: 5px;
    z-index: 2;
    padding: 30px 15px;

    @media (max-width: 600px) {
      width: 95%;
      padding: 15px 10px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 169px;
    min-height: 41px;
    width: fit-content;
    background-color: var(--orange);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}