:root {
  // Шрифты
  --font-main: "Inter", sans-serif; // главный шрифт на странице
  --font-second: "RobotoCondensed", sans-serif; // главный шрифт на странице

  // Контейнер
  --container-width: 1850px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #161f38; // бекграунд страницы
  --white: #ffffff;
  --pink: #FF0069;
  --background-footer: rgba(31, 52, 99, 0.3);
  --blue: #00ADFF;

  --hover: #0098ff; // цвет при ховере
  --active: #0393f3; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.webp {
  & .hero {
    background-image: url(../../img/back.webp);
  }
}

.no-webp {
  & .hero {
    background-image: url(../../img/back.jpg);
  }
}

.tx-98-46 {
  font-family: var(--font-second);
  font-style: italic;
  font-weight: 700;
  font-size: 98px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);

  @media (max-width: 1440px) {
    font-size: 88px;
  }

  @media (max-width: 1220px) {
    font-size: 72px;
  }

  @media (max-width: 991px) {
    font-size: 52px;
  }

  @media (max-width: 600px) {
    font-size: 46px;
  }
}

.tx-67-31 {
  font-family: var(--font-second);
  font-size: 67px;
  font-style: italic;
  font-weight: 700;
  line-height: .96;
  text-transform: uppercase;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);

  @media (max-width: 1440px) {
    font-size: 57px;
  }

  @media (max-width: 1220px) {
    font-size: 47px;
  }

  @media (max-width: 991px) {
    font-size: 40px;
  }

  @media (max-width: 600px) {
    font-size: 31px;
  }
}

.but {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  min-width: 303px;
  min-height: 67px;
  width: fit-content;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);


  & span {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(-10deg);
    background-color: var(--blue);
    z-index: 1;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
  }

  @media (max-width: 991px) {
    font-size: 26px;
    min-width: 220px;
    min-height: 55px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
    min-width: 174px;
    min-height: 38px;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        background-color: var(--hover);
      }
    }
  }

  &:focus-visible {
    &::before {
      background-color: var(--hover);
    }
  }

  &:active {
    &::before {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}