* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Gotu;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Gotu-Regular.woff2) format("woff2")
}

@font-face {
  font-family: Scada;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Scada-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Gotu", sans-serif;
  --container-width: 1110px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #fffdfb;
  --white: #ffffff;
  --main: #171616;
  --blue: #0c2168;
  --gray: #f1f1f1;
  --gray2: #f4f4f4;
  --black: #000000;
  --hover: #334a9b;
  --active: #0c2168
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.webp .hero__content {
  background-image: url(../img/hero.webp)
}

.no-webp .hero__content {
  background-image: url(../img/hero.jpg)
}

.tt-64-30 {
  font-weight: 400;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-64-30 {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .tt-64-30 {
    font-size: 30px
  }
}

.tt-53-28 {
  font-weight: 400;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:1220px) {
  .tt-53-28 {
    font-size: 46px
  }
}

@media (max-width:991px) {
  .tt-53-28 {
    font-size: 34px
  }
}

@media (max-width:600px) {
  .tt-53-28 {
    font-size: 28px
  }
}

.tt-31-26 {
  font-weight: 400;
  font-size: 31px;
  line-height: 140%
}

@media (max-width:600px) {
  .tt-31-26 {
    font-size: 26px
  }
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

.tx-22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%
}

.input {
  display: block;
  width: 100%;
  min-height: 74px;
  background-color: var(--gray);
  padding: 0 32px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--main);
  border: 2px solid transparent;
  border-radius: 54px;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .4;
  color: var(--main)
}

.input::-moz-placeholder {
  opacity: .4;
  color: var(--main)
}

.input:-ms-input-placeholder {
  opacity: .4;
  color: var(--main)
}

.input::-ms-input-placeholder {
  opacity: .4;
  color: var(--main)
}

.input::placeholder {
  opacity: .4;
  color: var(--main)
}

@media (max-width:991px) {
  .input {
    padding: 0 16px;
    min-height: 64px
  }
}

@media (max-width:600px) {
  .input {
    min-height: 50px
  }
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 24px;
  border-radius: 33px;
  min-width: 159px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 47px;
  background-color: var(--blue);
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--white);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header {
  padding: 24px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-page);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 24px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero__content {
  min-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .hero__content {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .hero__content {
    padding: 24px 10px
  }
}

.hero__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1
}

.hero__descr {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 759px;
  flex: 0 1 759px;
  position: relative;
  z-index: 2
}

.hero__title {
  color: var(--white)
}

.hero__title:not(:last-child) {
  margin-bottom: 16px
}

.hero__title span {
  display: block
}

.hero__text {
  max-width: 677px;
  width: 100%;
  margin: 0 auto;
  color: var(--white)
}

.vorteile {
  padding: 40px 0;
  background-color: var(--gray2)
}

.vorteile:not(:last-child) {
  margin-bottom: 80px
}

.vorteile__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .vorteile__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .vorteile__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.vorteile__item {
  width: 100%
}

.vorteile__wrapper-icon {
  width: 64px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--black)
}

.vorteile__wrapper-icon:not(:last-child) {
  margin-bottom: 8px
}

.vorteile__icon {
  display: block;
  width: 24px;
  height: 24px
}

.vorteile__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.vorteile__descr {
  width: 100%
}

.vorteile__subtitle {
  color: var(--main)
}

.vorteile__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.vorteile__texts {
  width: 100%
}

.vorteile__text {
  color: var(--main)
}

.vorteile__text:not(:last-child) {
  margin-bottom: 8px
}

.feier:not(:last-child) {
  margin-bottom: 80px
}

.feier__head:not(:last-child) {
  margin-bottom: 24px
}

.feier__title {
  color: var(--main)
}

.feier__title:not(:last-child) {
  margin-bottom: 24px
}

.feier__text {
  color: var(--main)
}

.feier__text:not(:last-child) {
  margin-bottom: 16px
}

.feier__texts {
  width: 100%
}

.feier__texts:not(:last-child) {
  margin-bottom: 24px
}

.feier__button {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

@media (max-width:991px) {
  .feier__button {
    display: none
  }
}

.feier__button.swiper-button-disabled {
  opacity: .4;
  pointer-events: none
}

@media (any-hover:hover) {
  .feier__button:hover {
    opacity: .6
  }
}

.feier__button:focus-visible {
  opacity: .6
}

.feier__button:active {
  opacity: .6;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.feier__button img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.feier__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  z-index: 1
}

.feier__pagination .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  margin: 0 !important;
  background-color: var(--white)
}

.feier__pagination .swiper-pagination-bullet-active {
  width: 6px;
  height: 6px;
  opacity: 1
}

.feier-slider {
  position: relative
}

.feier-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 315px;
  padding: 32px 80px
}

@media (max-width:991px) {
  .feier-slider__slide {
    padding: 32px 10px
  }
}

.feier-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.feier-slider__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.feier-slider__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1
}

.feier-slider__descr {
  position: relative;
  z-index: 2
}

.feier-slider__title {
  color: var(--white);
  text-align: center
}

.feier-slider__title:not(:last-child) {
  margin-bottom: 8px
}

.feier-slider__texts {
  width: 100%;
  max-width: 544px;
  margin: 0 auto
}

.feier-slider__text {
  color: var(--white);
  text-align: center
}

.feier-slider__text:not(:last-child) {
  margin-bottom: 8px
}

.feier-slider-prev {
  left: 24px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.feier-slider-next {
  right: 24px
}

.zahlen:not(:last-child) {
  margin-bottom: 80px
}

.zahlen__title {
  color: var(--main)
}

.zahlen__title:not(:last-child) {
  margin-bottom: 32px
}

.zahlen__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 42px 32px
}

@media (max-width:768px) {
  .zahlen__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.zahlen__image {
  height: 318px
}

.zahlen__image:not(:last-child) {
  margin-bottom: 16px
}

.zahlen__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.zahlen__descr {
  width: 100%;
  text-align: center
}

.zahlen__subtitle {
  color: var(--main)
}

.zahlen__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.zahlen__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px
}

.zahlen__sublist:not(:last-child) {
  margin-bottom: 8px
}

.zahlen__subitem {
  color: var(--main)
}

.zahlen__subitem:not(:last-child)::after {
  content: "|";
  color: var(--main);
  margin-left: 16px
}

.zahlen__texts {
  width: 100
}

.zahlen__text {
  color: var(--main)
}

.zahlen__text:not(:last-child) {
  margin-bottom: 8px
}

.plays {
  padding: 120px 0 0 0
}

.plays:not(:last-child) {
  margin-bottom: 80px
}

@media (max-width:991px) {
  .plays {
    padding: 100px 0 0 0
  }
}

@media (max-width:600px) {
  .plays {
    padding: 60px 0 0 0
  }
}

.plays__item:not(:last-child) {
  margin-bottom: 80px
}

.plays__top:not(:last-child) {
  margin-bottom: 24px
}

.plays__title {
  color: var(--main)
}

.plays__title:not(:last-child) {
  margin-bottom: 24px
}

.plays__subtitle {
  color: var(--main)
}

.plays__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.plays__text {
  color: var(--main)
}

.plays__text:not(:last-child) {
  margin-bottom: 16px
}

.plays__image {
  height: 319px
}

.plays__image:not(:last-child) {
  margin-bottom: 16px
}

.plays__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.plays__list {
  width: 100%
}

.plays__list:not(:last-child) {
  margin-bottom: 24px
}

.plays__list-item:not(:last-child) {
  margin-bottom: 8px
}

.contacts {
  padding: 120px 0 0 0
}

@media (max-width:991px) {
  .contacts {
    padding: 100px 0 0 0
  }
}

@media (max-width:600px) {
  .contacts {
    padding: 60px 0 0 0
  }
}

.contacts__top:not(:last-child) {
  margin-bottom: 80px
}

.contacts__title {
  color: var(--main)
}

.contacts__title:not(:last-child) {
  margin-bottom: 16px
}

.contacts__texts {
  width: 100%
}

.contacts__texts:not(:last-child) {
  margin-bottom: 24px
}

.contacts__text {
  color: var(--main)
}

.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 32px;
  width: 100%
}

@media (max-width:991px) {
  .contacts__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.contacts__list {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 256px;
  flex: 0 1 256px
}

@media (max-width:991px) {
  .contacts__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.contacts__item {
  color: var(--main)
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px
}

.contacts__item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__item a:hover {
    color: var(--hover)
  }
}

.contacts__item a:focus-visible {
  color: var(--hover)
}

.contacts__item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__map {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 831px;
  flex: 0 1 831px;
  height: 368px
}

@media (max-width:991px) {
  .contacts__map {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%
}

@media (max-width:991px) {
  .form {
    gap: 16px
  }
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 909px;
  flex: 0 1 909px;
  width: 100%
}

@media (max-width:991px) {
  .form__inputs {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    gap: 16px
  }
}

@media (max-width:600px) {
  .form__inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px
  }
}

@media (max-width:991px) {
  .form__button {
    margin: 0 auto
  }
}

.terms {
  padding: 120px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 100px 0 0 0
  }
}

@media (max-width:600px) {
  .terms {
    padding: 60px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 160px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 120px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--main);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--main);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px 16px
}

.footer__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}