@font-face {
  font-family: 'AlumniSansCollegiateOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/AlumniSansCollegiateOne-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2")
}