@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

section {
  @include marginBlock();
}

.header {
  padding: 25px 0;
  background-color: var(--black);

  &_2 {
    background-color: transparent;

    & .nav__link {
      color: var(--black);
    }

    & .burger {
      & span {
        background-color: var(--black);
      }
    }
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-menu);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 27px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      color: var(--black);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  padding-top: 32px;
  background-color: var(--black);

  @media (max-width: 991px) {
    padding-bottom: 32px;
  }

  &:not(:last-child) {
    margin-bottom: 300px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }
  }

  &__subtitle {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      gap: 24px;
    }
  }

  &__left {
    width: 100%;
    flex: 0 1 864px;
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__left-texts {
    flex: 0 1 416px;
    width: 100%;

    @media (max-width: 991px) {
      flex: 0 1 100%;
    }
  }

  &__title {
    color: var(--gold);
    margin-bottom: 5px;

    & span {
      display: block;
    }
  }

  &__text {
    width: 100%;
    color: var(--white);
    opacity: .6;
    max-width: 394px;
  }

  &__image {
    position: relative;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      flex: 0 1 416px;
      width: 100%;
      padding-bottom: 57%;
      margin-top: 70px;
      margin-bottom: -140px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    &_2 {
      padding-bottom: 49%;
      width: 100%;
      flex: 0 1 416px;
      margin-bottom: -180px;

      @media (max-width: 991px) {
        flex: none;
        margin-bottom: 0;
      }

      @media (max-width: 600px) {
        padding-bottom: 100%;
      }
    }
  }
}

// ======================================================================================================================================================

.halnet {
  &_2 {
    padding: 140px 0 0 0;

    @media (max-width: 991px) {
      padding: 80px 0 0 0;
    }
  }
  &__head {
    width: 100%;
    max-width: 640px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__title {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    color: var(--black);
    opacity: .7;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      gap: 24px;
    }
  }

  &__left {
    width: 100%;
    flex: 0 1 640px;
    padding-top: 16px;
    border-top: 1px solid var(--orange);

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__right {
    width: 100%;
    flex: 0 1 605px;
    padding-top: 16px; 

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__texts {
    width: 100%;
    max-width: 605px;
    &_2 { 
      @media (max-width: 991px) {
        max-width: none;
      }
    }
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {}

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;
    align-items: flex-start;
    flex: 0 1 640px;
    width: 100%;

    @media (max-width: 991px) {
      gap: 24px;
      flex: none;
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__image {
    position: relative;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      padding-bottom: 115%;
    }

    &_2 {
      margin-top: 32px;
      padding-bottom: 135%;

      @media (max-width: 600px) {
        margin-top: 0;
      }
    }

    &_3 {
      padding-bottom: 0;
      height: 351px;
      & picture { 
        & img { 
          object-fit: cover; 
        }
      }
    }
  }
}

// ======================================================================================================================================================

.about {
 
  &__title {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      gap: 24px;
    }
  }

  &__left {
    flex: 0 1 850px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__left-top {
    max-width: 752px;
    width: 100%;
    padding-bottom: 8px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: var(--orange);
      left: 0;
      max-width: 528px;
      width: 100%;
      height: 1px;
      z-index: 1;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__texts {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      gap: 24px;
    }
  }

  &__column {}

  &__image {
    flex: 0 1 416px;
    width: 100%;
    position: relative;
    padding-bottom: 35%;

    @media (max-width: 991px) {
      padding-bottom: 70%;
      flex: none;
    }

    @media (max-width: 600px) {
      padding-bottom: 112%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    @media (max-width: 991px) {
      flex: none;
    }
  }
}

// ======================================================================================================================================================

.gallery {
  padding: 60px 0;
  background-color: var(--black);

  &_2 {
    padding: 140px 0 60px 0;

    @media (max-width: 991px) {
      padding: 80px 0 60px 0;
    }
  }

  &__head {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__title {
    color: var(--white);
    margin-left: auto;
    padding-left: 132px;

    @media (max-width: 991px) {
      padding-left: 0;
      margin: 0 auto;
    }

    &_2 {
      margin: 0 auto;
      padding: 0;
    }
  }

  &__link {
    margin-left: auto;

    @media (max-width: 991px) {
      margin: 0 auto;
    }
  }

  &__wrapper-images {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 16px;
    }

    @media (max-width: 600px) {
      gap: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__image {
    position: relative;
    width: 100%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      flex: 0 1 416px;
      padding-bottom: 47%;

      @media (max-width: 991px) {
        flex: none;
        display: none;
        padding-bottom: 150%;
      }

      @media (max-width: 600px) {
        display: block;
      }
    }

    &_2 {
      padding-bottom: 72%;
    }
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;
    flex: 0 1 864px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
      gap: 16px;
    }

    @media (max-width: 600px) {
      gap: 5px;
      grid-template-columns: 1fr;
    }
  }
}


// ======================================================================================================================================================

.contacts {
  &_2 {
    padding: 140px 0 0 0;

    @media (max-width: 991px) {
      padding: 80px 0 0 0;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      gap: 24px;
    }
  }

  &__left {
    flex: 0 1 528px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__title {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__image {
    flex: 0 1 650px;
    width: 100%;
    position: relative;
    padding-bottom: 30%;

    @media (max-width: 991px) {
      flex: none;
      padding-bottom: 50%;
    }

    @media (max-width: 600px) {
      padding-bottom: 59%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.form {
  display: block;
  width: 100%;
  max-width: 416px;

  &__inputs {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 47px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 46px;
    min-height: 54px;
    color: var(--black);
    padding: 0 16px;
    background-color: transparent;
    transition: border-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--hover);
    }

    &::placeholder {
      color: var(--black);
      opacity: .6;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {}
}


// ======================================================================================================================================================

.terms {
  padding: 140px 0 0 0;

  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--gold);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}