@mixin mb-120 {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header {
  padding: 24px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--main);
    border-radius: 8px;
  }
}

// ======================================================================================================================================================
.hero {
  @include mb-120();
  padding-top: 24px;

  &__container {
    display: flex;
    gap: 32px;
    position: relative;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__left {
    flex: 0 1 450px;
    width: 100%;
    padding-top: 90px;

    @media (max-width: 991px) {
      flex: none;
      padding-top: 0;
    }

  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__title {
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    width: 100%;
    max-width: 352px;
    @include mb-16();
  }

  &__link {}

  &__image {
    flex: 0 1 648px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
      height: 400px;
    }

    @media (max-width: 600px) {
      height: 350px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__list {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
    box-shadow: 0px 0px 8px 0px rgba(109, 101, 101, 0.13);
    background-color: var(--white);

    @media (max-width: 991px) {
      padding: 24px 16px;
      max-width: none;
      justify-content: center;
      position: static;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__item {
    text-align: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    @include mb-8();

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================
.estoque {
  @include mb-120();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-24();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
  }

  &__image {
    height: 388px;
    @include mb-16();

    @media (max-width: 991px) {
      height: 320px;
    }

    @media (max-width: 600px) {
      height: 280px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    color: var(--main);
    @include mb-8();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.bar {
  @include mb-120();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-24();
  }

  &__content {
    display: flex;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column-reverse;
    }

  }

  &__images {
    flex: 0 1 736px;
    width: 100%;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex: none;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    width: 100%;
    height: 458px;

    @media (max-width: 991px) {
      height: 380px;
    }

    @media (max-width: 600px) {
      height: 280px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__texts {
    flex: 0 1 352px;
    width: 100%;
    padding-top: 32px;

    @media (max-width: 991px) {
      flex: none;
      padding-top: 0;
    }

  }

  &__text {
    width: 100%;
    color: var(--main);
    @include mb-16();
  }
}

// ======================================================================================================================================================
.hotel {
  @include mb-120();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-24();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 52px 32px;

    @media (max-width: 991px) {
      gap: 32px 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
  }

  &__image {
    height: 333px;
    @include mb-16();

    @media (max-width: 600px) {
      height: 280px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    text-align: center;
    width: 100%;
  }

  &__subtitle {
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.play {
  padding-top: 24px;
  @include mb-120();

  &_2 {
    padding: 60px 0;
    background-color: var(--gray);
  }

  &__top {
    display: flex;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__left {
    flex: 0 1 448px;
    width: 100%;
    padding-top: 32px;

    &_2 {
      padding-top: 0;
    }

    @media (max-width: 991px) {
      flex: none;
      padding-top: 0;
    }

  }

  &__title {
    color: var(--main);
    @include mb-16();
  }

  &__subtitle {
    text-align: center;
    color: var(--main);
    @include mb-32();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-16();
  }

  &__image {
    width: 100%;
    flex: 0 1 640px;

    @media (max-width: 991px) {
      height: 400px;
      flex: none;
    }

    @media (max-width: 600px) {
      height: 320px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================
.contacts {
  padding-top: 62px;

  &__top {
    text-align: center;
    @include mb-32();
  }

  &__title {
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();

    &_opacity {
      opacity: .5;
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    gap: 32px;
    @include mb-120();

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__image {
    height: 401px;
    flex: 0 1 640px;
    width: 100%;
  
    @media (max-width: 991px) {
      flex: none;
      height: 360px;
    }
    @media (max-width: 600px) { 
      height: 280px;
    }
    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__bottom {}

  &__address {
    font-style: normal;
    @include mb-32();
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px;
  }

  &__item {
    text-align: center;
  }

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  &__map {
    max-width: 737px;
    height: 412px;
    width: 100%;
    margin: 0 auto;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  flex: 0 1 448px;
  width: 100%;

  @media (max-width: 991px) {
    flex: none;
    max-width: 448px;
  }

  &__inputs {
    @include mb-32();
  }

  &__input {
    @include mb-16();
  }

  &__button {}
}


// ======================================================================================================================================================
.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 100px 0 0 0;

  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}