@mixin mb-120 {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header {
  padding: 24px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 19px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

// ======================================================================================================================================================
.hero {
  position: relative;
  @include mb-120();

  &__container {
    min-height: 659px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    position: relative;
    z-index: 2;
  }

  &__button {
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 5;
    transform: translateY(-50%);
    transition: opacity .3s ease-in-out;

    &.swiper-button-disabled {
      opacity: .5;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .8;
      }
    }

    &:focus-visible {
      opacity: .8;
    }

    &:active {
      opacity: .8;
      transition-duration: .1s;
    }

    @media (max-width: 991px) {
      display: none;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr {
    width: 100%;
    max-width: 794px;
    @include mb-16();
  }

  &__title {
    color: var(--white);
    @include mb-8();
  }

  &__texts {
    width: 100%;
    @include mb-16();
  }

  &__text {
    color: var(--white);
    @include mb-8();
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    & .swiper-pagination-bullet {
      margin: 0 !important;
      width: 6px;
      height: 6px;
      background-color: var(--white);
    }

    & .swiper-pagination-bullet-active {
      width: 9px;
      height: 9px;
    }
  }
}

.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &__slide {
    width: 100%;
    height: 100%;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.hero-slider-prev {
  top: 50%;
  left: 0;

  & img {
    transform: rotate(-180deg);
  }
}

.hero-slider-next {
  top: 50%;
  right: 0;
}

// ======================================================================================================================================================
.hoqel {
  @include mb-120();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-32();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 1220px) {
      grid-template: auto / repeat(3, 1fr);
      gap: 24px;
    }

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    min-height: 343px;
    padding: 21px 14px;
    display: flex;
    align-items: flex-end;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 200%);
      z-index: 1;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__text {
    display: flex;
    gap: 10px;
    color: var(--white);
    @include mb-8();

    & span {
      opacity: .5;
    }
  }
}

// ======================================================================================================================================================
.restiq {
  @include mb-120();

  &__container {
    @include mb-32();

    &_flex {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 445px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__title {
    color: var(--main);
    text-align: center;
    @include mb-32();
  }

  &__bottom {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__descr {
    background-color: var(--white);
    padding: 32px 50px;
    flex: 0 1 736px;
    width: 100%;

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__subtitle {
    align-items: center;
    color: var(--main);
    @include mb-8();

    &::after {
      background-color: var(--main);
    }
  }

  &__texts {
    text-align: center;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.about {
  @include mb-120();

  &__title {
    color: var(--main);
    text-align: center;
    align-items: center;
    @include mb-8();

    &::after {
      background-color: var(--main);
    }
  }

  &__texts {
    width: 100%;
    max-width: 639px;
    text-align: center;
    margin: 0 auto;
    @include mb-32();
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__image {
    width: 100%;
    height: 365px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================
.sloqs {
  padding: 100px 0 0 0;

  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }

  &__container {
    @include mb-120();

    &_flex {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 442px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__title {
    align-items: center;
    gap: 16px;
    text-align: center;

    &::after {
      background-color: var(--main);
    }

    @include mb-16();
  }

  &__texts {
    max-width: 575px;
    width: 100%;
    margin: 0 auto;

    &_2 {
      max-width: none;
      @include mb-8();
    }
  }

  &__text {
    color: var(--main);
    text-align: center;
    @include mb-8();
  }

  &__bottom {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__descr {
    background-color: var(--white);
    padding: 32px 50px;
    flex: 0 1 736px;
    width: 100%;

    @media (max-width: 991px) {
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__subtitle {
    align-items: center;
    color: var(--main);
    @include mb-8();

    &::after {
      background-color: var(--main);
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main);

    &::before {
      content: "";
      flex: 0 0 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--main);
    }
  }
}

// ======================================================================================================================================================
.contacts {
  padding: 100px 0 0 0;

  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }

  &__top {
    @include mb-120();
  }

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-16();
  }

  &__texts {
    width: 100%;
    max-width: 707px;
    margin: 0 auto;
    text-align: center;
    @include mb-32();
  }

  &__top-bottom {
    display: flex;
    align-items: flex-end;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

  }

  &__image {
    flex: 0 1 640px;
    width: 100%;
    height: 276px;

    @media (max-width: 991px) {
      flex: none;
      max-width: 640px;
      margin: 0 auto;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__list {
    width: 100%;
    flex: 0 1 350px;

    @media (max-width: 991px) {
      flex: none; 
    }
  }

  &__item {
    @include mb-8();
    color: var(--main);

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }
  }

  &__map {
    width: 100%;
    flex: 0 1 640px;
    height: 399px;
    @media (max-width: 991px) {
      flex: none; 
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  width: 100%;
  flex: 0 1 448px;
  padding-bottom: 32px;
  @media (max-width: 991px) {
    max-width: 448px;
    flex: none;
    padding-bottom: 0;
  }

  &__inputs {
    width: 100%;
    @include mb-16();
  }

  &__input {
    @include mb-16();
  }

  &__button {
    margin-left: auto;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__container {}

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 16px;
  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 100px 0 0 0;

  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--black);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  border: 2px solid var(--white);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}