@font-face {
  font-family: 'SometypeMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/SometypeMono-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'PlaypenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PlaypenSans-Regular.woff2") format("woff2")
}