@mixin mb-120 {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-49-24 {
  &:not(:last-child) {
    margin-bottom: 49px;

    @media (max-width: 600px) {
      margin-bottom: 24px;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 24px 0;

  &_2 {
    & .nav__link {
      color: var(--black);
    }

    & .burger {
      & span {
        background-color: var(--black);
      }
    }
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (max-width: 600px) {
      color: var(--black);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  @include mb-120();
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 23, 60, 0.69);
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    min-height: 799px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &__descr {
    flex: 0 1 450px;

    @media (max-width: 991px) {
      flex: 0 1 100%;
    }

  }

  &__text {
    color: var(--white);
    @include mb-16();
  }

  &__title {
    color: var(--white);
    @include mb-16();
  }

  &__texts {
    width: 100%;
    @include mb-49-24();
  }

  &__link {}
}

// ======================================================================================================================================================

.indirimler {
  @include mb-120();

  &__title {
    color: var(--black);
    @include mb-24();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      grid-template: auto / repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    box-shadow: 0px 0px 10px 0px rgba(7, 23, 60, 0.23);
    background-color: #eff1f8;
  }

  &__procent {
    padding: 10px;
    color: var(--black);
  }

  &__image {
    height: 263px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    padding: 16px;
  }

  &__subtitle {
    color: var(--black);
    @include mb-8();
  }

  &__texts {}

  &__text {
    opacity: .6;
    color: var(--black);
  }
}

// ======================================================================================================================================================
.events {
  @include mb-120();

  &__title {
    color: var(--black);
    @include mb-24();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
  }

  &__image {
    height: 280px;
    @include mb-24();

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;
  }

  &__subtitle {
    color: var(--o-blue);
    @include mb-8();
  }

  &__sublist {
    width: 100%;
  }

  &__subitem {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black);

    &::before {
      content: "";
      flex: 0 0 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--black);
    }
  }
}

// ======================================================================================================================================================

.hotels {
  @include mb-120();

  &__title {
    color: var(--black);
    @include mb-24();
  }

  &__texts {
    @include mb-24();
  }

  &__text {
    color: var(--black);
  }
}

.hotels-slider {
  @include mb-32();
  overflow: visible;

  &__wrapper {}

  &__slide {
    display: flex;
    align-items: flex-end;
    width: 448px;
    min-height: 426px;
    padding: 32px 16px;
    flex-shrink: 0;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 23, 60, 0) 32.81%, #07173c 100%);
      z-index: 1;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__text {
    color: rgba(255, 255, 255, .6)
  }

  &__subtitle {
    color: var(--white);
    @include mb-16();
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .6);

    & img {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.hotels-slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0 auto;

  & .swiper-pagination-bullet {
    background-color: var(--black);
    margin: 0 !important;
    height: 8px;
    width: 8px;
  }

  & .swiper-pagination-bullet-active {
    width: 11px;
    height: 11px;
  }
}

// ======================================================================================================================================================

.slots {
  padding: 180px 0 0 0;

  @media (max-width: 991px) {
    padding: 140px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 0 0;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 32px;
    @include mb-120();

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__descr {
    width: 100%;
    flex: 0 1 536px;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__title {
    color: var(--black);
    @include mb-24();
  }

  &__texts {
    width: 100%;
    @include mb-32();
  }

  &__text {
    color: var(--black);
  }

  &__image {
    flex: 0 1 544px;
    height: 541px;
    width: 100%;

    @media (max-width: 991px) {
      margin: 0 auto;
      max-width: 544px;
      height: 400px;
      flex: none;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__bottom {
    width: 100%;
  }

  &__list {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black);
    @include mb-16();

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}

// ======================================================================================================================================================
.contacts {
  padding: 180px 0 0 0;

  @media (max-width: 991px) {
    padding: 140px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 0 0;
  }

  &__top {
    @include mb-120();
  }

  &__title {
    text-align: center;
    color: var(--black);
    @include mb-16();
  }

  &__text {
    text-align: center;
    color: var(--black);
    @include mb-32();
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__list {
    flex: 0 1 360px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    @include mb-16();

    & span {
      color: rgba(0, 0, 0, .6)
    }

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }

  }

  &__map {
    width: 100%;
    flex: 0 1 736px;
    height: 364px;

    @media (max-width: 991px) {
      flex: none;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  width: 100%;
  max-width: 928px;
  margin: 0 auto;
  &__inputs {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;
    @include mb-32();

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__input {}

  &__button {
    margin: 0 auto;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 16px;
  }

  &__item {}

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 180px 0 0 0;

  @media (max-width: 991px) {
    padding: 140px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}