@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Graphik-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Righteous-Regular.woff2") format("woff2")
}