@font-face {
  font-family: 'BeVietnam';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/BeVietnam-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'RadioCanada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/RadioCanada-Regular.woff2") format("woff2")
}