@mixin mb-140-100 {
  &:not(:last-child) {
    margin-bottom: 140px;

    @media (max-width: 600px) {
      margin-bottom: 100px;
    }
  }
}

@mixin mb-32-24 {
  &:not(:last-child) {
    margin-bottom: 32px;

    @media (max-width: 600px) {
      margin-bottom: 24px;
    }
  }
}

@mixin mb-16-10 {
  &:not(:last-child) {
    margin-bottom: 16px;

    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-62-32 {
  &:not(:last-child) {
    margin-bottom: 62px;

    @media (max-width: 600px) {
      margin-bottom: 32px;
    }
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header {
  padding: 10px 0;

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    flex: 0 0 100px;
    height: 70px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}


.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================
.hero {
  @include mb-140-100();
  padding-top: 80px;

  &__content {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 24px;
    }

  }

  &__images {
    width: 100%;
    flex: 0 0 400px;

    @media (max-width: 991px) {
      flex: none;
      max-width: 400px;
      margin: 0 auto;
    }

    @media (max-width: 450px) {
      max-width: 290px;
    }
  }

  &__image {
    width: 70%;
    height: 250px;

    @media (max-width: 450px) {
      height: 200px;
    }

    &:nth-child(2) {
      margin-left: auto;
      margin-top: -62px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    text-align: center;
    flex: 0 1 600px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__title {
    color: var(--main);
    text-align: center;
    @include mb-62-32();

    & span {
      color: var(--shox);
    }
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.loca {
  @include mb-140-100();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-62-32();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 32px;

    @media (max-width: 1220px) {
      gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 991px) {
      gap: 24px 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
  }

  &__image {
    height: 250px;
    @include mb-16-10();

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__texts {
    width: 100%;
  }

  &__text {
    text-align: center;
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.mer {
  @include mb-140-100();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-62-32();
  }

  &__texts {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    @include mb-62-32();
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;
    width: 100%;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    height: 300px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================
.rest {
  @include mb-140-100();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-32-24();
  }

  &__texts {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    @include mb-62-32();
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 24px;
    }

  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 10px;
    flex: 0 1 400px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
      margin: 0 auto;
      max-width: 400px;
    }
  }

  &__image {
    height: 200px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    flex: 0 1 600px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

}

// ======================================================================================================================================================
.eco {
  @include mb-140-100();

  &__title {
    text-align: center;
    color: var(--main);
    @include mb-62-32();
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

    &_reverse {
      flex-direction: row-reverse;

      @media (max-width: 991px) {
        flex-direction: column;
        gap: 24px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    flex: 0 1 50%;

    @media (max-width: 991px) {
      flex: none;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    width: 100%;
    flex: 0 1 50%;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }
}

// ======================================================================================================================================================
.slot {
  padding-top: 80px;
  @include mb-140-100();

  &__item {
    @include mb-140-100();
  }

  &__title {
    color: var(--main);
    @include mb-32-24();
  }

  &__texts {
    width: 100%;
    @include mb-32-24();
  }

  &__text {
    color: var(--main);
    @include mb-8();
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      gap: 10px;
      grid-template-columns: 1fr;
    }
  }

  &__image {
    height: 400px;
    width: 100%;
    & picture {
      & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================
.contacts {
  padding-top: 80px;
  @include mb-140-100();

  &__title {
    color: var(--main);
    @include mb-32-24();
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

  }

  &__left {
    width: 100%;
  }

  &__address {
    display: block;
    width: 100%;
    font-style: normal;
  }

  &__list {
    width: 100%;
  }

  &__item {
    color: var(--main);
    @include mb-16-10();

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }
  }

  &__map {
    width: 100%;
    height: 400px;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  max-width: 460px;
  width: 100%;
  @include mb-32-24();

  &__inputs {
    width: 100%;
    @include mb-32-24();
  }

  &__input {
    @include mb-16-10();
  }

  &__button {}
}

// ======================================================================================================================================================
.terms {
  padding: 100px 0 0 0;

  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--main);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--shox);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 40px;

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
    }

  }

  &__logo {
    display: block;
    flex: 0 0 100px;
    height: 70px;

    @media (max-width: 991px) {
      flex: none;
      width: 100px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 32px;
  }

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}