.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 30px 0;

  @media (max-width: 991px) {
    padding: 24px 0;
  }

  @media (max-width: 600px) {
    padding: 16px 0;
  }

  &_2 {
    position: static; 
  }

  &__logo {
    display: block;
    width: 238px;
    height: 71px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      width: 166px;
      height: 47px;
    }

    @media (max-width: 600px) {
      width: 130px;
      height: 47px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

  }
}

// ======================================================================================================================================================

.hero {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 22px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    min-height: 534px;
    @media (max-width: 1260px) {
      min-height: 0;
    }
  }

  &__descr {
    flex: 0 1 585px;

    @media (max-width: 1260px) {
      flex: 0 1 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 110.416667%;
    color: #000;

    & span {
      color: #166DF2;
    }
    @media (max-width: 1260px) {
      text-align: center;
    }
    @media (max-width: 991px) {
      font-size: 38px;
    }

    @media (max-width: 600px) {
      font-size: 28px;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 46px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 486px;
    z-index: 1;

    @media (max-width: 1260px) {
      position: static; 
      max-width: 600px;
      width: 100%;
      height: 400px;
      margin: 0 auto;
      margin-top: 32px;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.about {

  &:not(:last-child) {
    margin-bottom: 35px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 35px;
    }

    @media (max-width: 600px) {
      margin-bottom: 25px;
    }
  }

  &__container {}

  &__title {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #166df2;

    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 23px;

      @media (max-width: 991px) {
        margin-bottom: 18px;
      }

      @media (max-width: 600px) {
        margin-bottom: 14px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 153%;
    text-align: center;
    color: #070707;


    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }
}

// ======================================================================================================================================================

.contacts {
  background-color: #166df2;
  padding: 34px 0 46px 0;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {
    padding: 40px 0;
  }

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    padding: 20px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #fff;

    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #fff;

    @media (max-width: 600px) {
      font-size: 14px;
    }

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 21px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 165px;
    min-height: 38px;
    width: fit-content;
    margin: 0 auto;
    background-color: #000;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      min-width: 150px;
      min-height: 35px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:focus-visible {
      background-color: var(--hover);
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 30px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 20px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
    color: #070707;
    font-weight: 400;
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  text-align: center;
  padding-top: 100px;

  @media (max-width: 991px) {
    padding-top: 80px;
  }

  @media (max-width: 600px) {
    padding-top: 60px;
  }

  div {
    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  a {
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  & h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #070707;
    font-weight: 600;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 28px;
    line-height: 1.2;
    color: #070707;
    font-weight: 600;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 18px;
    line-height: 1.2;
    color: #070707;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.2;
    color: #070707;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}