@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Kalam-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/RobotoMono-Regular.woff2") format("woff2")
}