@font-face {
  font-family: 'Eastman';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Eastman-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Eastman';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Eastman-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Eastman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Eastman-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Coda-ExtraBold.woff2") format("woff2")
}

@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Ultra-Regular.woff2") format("woff2")
}