@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/IBMPlexMono-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'MavenPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/MavenPro-Regular.woff2") format("woff2")
}