.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 44px 0;

  @media (max-width: 991px) {
    padding: 24px;
  }

  @media (max-width: 600px) {
    padding: 16px;
  }

  &_2 {
    position: static;
  }

  &__logo {
    display: block;
    width: 303px;
    height: 54px;
    margin: 0 auto;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      width: 166px;
      height: 47px;
    }

    @media (max-width: 600px) {
      width: 130px;
      height: 47px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

  }
}

// ======================================================================================================================================================

.hero {
  position: relative;
  background-image: url(../../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 534px;
    padding-top: 100px;
    padding-bottom: 32px;

  }

  &__descr {
    flex: 0 1 670px;
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 111%;
    color: #fff;
    text-align: center;

    & span {
      display: block;
    }

    @media (max-width: 1260px) {
      text-align: center;
    }

    @media (max-width: 991px) {
      font-size: 38px;
    }

    @media (max-width: 600px) {
      font-size: 28px;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 46px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }
}

// ======================================================================================================================================================

.about {

  &:not(:last-child) {
    margin-bottom: 45px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 35px;
    }

    @media (max-width: 600px) {
      margin-bottom: 25px;
    }
  }

  &__container {
    max-width: 990px;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #0704ff;

    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 31px;

      @media (max-width: 991px) {
        margin-bottom: 18px;
      }

      @media (max-width: 600px) {
        margin-bottom: 14px;
      }
    }

  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 153%;
    text-align: center;
    color: #070707;


    @media (max-width: 600px) {
      font-size: 14px;
    }

    & span {
      font-weight: 700;
    }
  }

  &__list {
    width: 100%;
  }
}

// ======================================================================================================================================================

.contacts {
  background-color: #000000;
  padding: 34px 0 46px 0;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {
    padding: 40px 0;
  }

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #fff;

    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 153%;
    text-align: center;
    color: #fff;

    @media (max-width: 600px) {
      font-size: 14px;
    }

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 165px;
    min-height: 38px;
    width: fit-content;
    margin: 0 auto;
    background-color: #1D32E4;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      min-width: 150px;
      min-height: 35px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:focus-visible {
      background-color: var(--hover);
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 30px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 20px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
    color: #070707;
    font-weight: 400;
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  text-align: center;
  padding-top: 100px;

  @media (max-width: 991px) {
    padding-top: 80px;
  }

  @media (max-width: 600px) {
    padding-top: 60px;
  }

  div {
    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  a {
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  & h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #070707;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 28px;
    line-height: 1.2;
    color: #070707;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 18px;
    line-height: 1.2;
    color: #070707;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.2;
    color: #070707;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}