* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: ArchivoBlack;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ArchivoBlack-Regular.woff2) format("woff2")
}

@font-face {
  font-family: Carme;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Carme-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Carme", sans-serif;
  --font-second: "ArchivoBlack", sans-serif;
  --container-width: 1215px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #FFFFFF;
  --purple: #461882;
  --l-purple: #7432C9;
  --main: #000000;
  --black: #000000;
  --white: #ffffff;
  --siz: #00F1F0;
  --gray: #F5F5F5;
  --d-gray: #EBEBEB;
  --hover: #AE8CDA;
  --active: #7432C9
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

.page_change .header {
  position: static;
  background-color: var(--d-gray)
}

.page_change .header .nav__link {
  color: var(--black)
}

@media (any-hover:hover) {
  .page_change .header .nav__link:hover {
    color: var(--hover)
  }
}

.page_change .header .nav__link:focus-visible {
  color: var(--hover)
}

.page_change .header .nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.page_change .burger span {
  background-color: var(--black)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 60px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-64-32 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:1220px) {
  .tt-64-32 {
    font-size: 54px
  }
}

@media (max-width:991px) {
  .tt-64-32 {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .tt-64-32 {
    font-size: 32px
  }
}

.tt-53-30 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:1220px) {
  .tt-53-30 {
    font-size: 44px
  }
}

@media (max-width:991px) {
  .tt-53-30 {
    font-size: 38px
  }
}

@media (max-width:600px) {
  .tt-53-30 {
    font-size: 30px
  }
}

.tt-31-24 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 31px;
  line-height: 140%
}

@media (max-width:991px) {
  .tt-31-24 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .tt-31-24 {
    font-size: 24px
  }
}

.tx-23 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%
}

.tx-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--main);
  background-color: var(--purple);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 52px;
  min-width: 136px;
  min-height: 56px;
  -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.but_height {
  min-height: 44px
}

.but_change {
  border: 1px solid var(--siz);
  color: var(--siz)
}

.but_change svg {
  fill: var(--siz)
}

@media (any-hover:hover) {
  .but_change:hover {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black)
  }

  .but_change:hover svg {
    fill: var(--black)
  }
}

.but_change:focus-visible {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black)
}

.but_change:focus-visible svg {
  fill: var(--black)
}

.but svg {
  display: block;
  width: 25px;
  height: 8px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out
}

.input {
  display: block;
  padding: 0 20px;
  border-radius: 10px;
  width: 100%;
  min-height: 59px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .4;
  color: var(--black)
}

.input::-moz-placeholder {
  opacity: .4;
  color: var(--black)
}

.input:-ms-input-placeholder {
  opacity: .4;
  color: var(--black)
}

.input::-ms-input-placeholder {
  opacity: .4;
  color: var(--black)
}

.input::placeholder {
  opacity: .4;
  color: var(--black)
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 24px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--d-gray);
    z-index: 100;
    padding: 100px 30px 80px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 80px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__list_footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width:991px) {
  .nav__list_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px 16px
  }
}

.nav__link {
  color: var(--main);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

.nav__link_color {
  color: var(--white)
}

@media (max-width:991px) {
  .nav__link_color {
    color: var(--main)
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 30px;
  height: 16px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 8px
}

.hero {
  padding: 170px 0 54px 0
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px 32px
}

@media (max-width:991px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.hero__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 696px;
  flex: 0 1 696px;
  width: 100%
}

@media (max-width:991px) {
  .hero__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.hero__title {
  color: var(--white)
}

.hero__title:not(:last-child) {
  margin-bottom: 24px
}

.hero__texts {
  max-width: 384px;
  width: 100%
}

.hero__texts:not(:last-child) {
  margin-bottom: 91px
}

@media (max-width:991px) {
  .hero__texts:not(:last-child) {
    margin-bottom: 62px
  }
}

@media (max-width:600px) {
  .hero__texts:not(:last-child) {
    margin-bottom: 32px
  }
}

.hero__text {
  color: var(--white)
}

.hero__text:not(:last-child) {
  margin-bottom: 8px
}

.hero__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 488px;
  flex: 0 0 488px;
  height: 492px
}

@media (max-width:991px) {
  .hero__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 488px
  }
}

@media (max-width:520px) {
  .hero__image {
    max-width: 300px;
    width: 100%;
    height: 312px
  }
}

.hero__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits {
  background-color: var(--l-purple);
  padding: 60px 0
}

.benefits:not(:last-child) {
  margin-bottom: 60px
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 27px 1fr 27px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 24px 27px
}

@media (max-width:991px) {
  .benefits__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
    grid-template: auto/repeat(2, 1fr)
  }
}

@media (max-width:600px) {
  .benefits__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.benefits__item {
  width: 100%
}

.benefits__subtitle {
  text-align: center;
  color: var(--white)
}

.benefits__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.benefits__texts {
  width: 100%
}

.benefits__text {
  opacity: .5;
  text-align: center;
  color: var(--white)
}

.benefits__text:not(:last-child) {
  margin-bottom: 8px
}

.about:not(:last-child) {
  margin-bottom: 60px
}

.about__title {
  text-align: center;
  color: var(--purple)
}

.about__title:not(:last-child) {
  margin-bottom: 24px
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px 32px
}

@media (max-width:991px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.about__descr {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 592px;
  flex: 0 1 592px
}

@media (max-width:991px) {
  .about__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.about__subtitle {
  color: var(--purple)
}

.about__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.about__texts {
  width: 100%
}

.about__text {
  color: var(--main)
}

.about__text:not(:last-child) {
  margin-bottom: 8px
}

.about__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 611px;
  flex: 0 0 611px;
  height: 641px
}

@media (max-width:1220px) {
  .about__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 560px;
    flex: 0 0 560px;
    height: 591px
  }
}

@media (max-width:991px) {
  .about__image {
    margin: 0 auto;
    width: 560px
  }
}

@media (max-width:600px) {
  .about__image {
    width: 300px;
    height: 341px
  }
}

.about__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .about__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.escaparate:not(:last-child) {
  margin-bottom: 60px
}

.escaparate__title {
  text-align: center;
  color: var(--purple)
}

.escaparate__title:not(:last-child) {
  margin-bottom: 32px
}

.escaparate__list {
  width: 100%
}

.escaparate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.escaparate__item:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .escaparate__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.escaparate__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 520px;
  flex: 0 1 520px;
  height: 465px;
  width: 100%
}

@media (max-width:991px) {
  .escaparate__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 380px
  }
}

@media (max-width:600px) {
  .escaparate__image {
    height: 340px
  }
}

.escaparate__image img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.escaparate__descr {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 696px;
  flex: 0 1 696px;
  background-color: var(--gray);
  padding: 24px;
  border-radius: 10px
}

@media (max-width:991px) {
  .escaparate__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .escaparate__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 24px 10px
  }
}

.escaparate__subtitle {
  color: var(--main)
}

.escaparate__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.escaparate__texts {
  width: 100%
}

.escaparate__text {
  color: var(--main)
}

.los:not(:last-child) {
  margin-bottom: 60px
}

.los__title {
  color: var(--purple);
  text-align: center
}

.los__title:not(:last-child) {
  margin-bottom: 24px
}

.los__title_align {
  text-align: left
}

.los-wrapper-slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px
}

.los-wrapper-slider__pagination .swiper-pagination-bullet {
  border-radius: 21px;
  width: 18px;
  height: 5px;
  margin: 0;
  opacity: 1;
  background-color: var(--gray)
}

.los-wrapper-slider__pagination .swiper-pagination-bullet-active {
  width: 40px;
  height: 5px;
  background-color: var(--purple)
}

.los-slider:not(:last-child) {
  margin-bottom: 24px
}

.los-slider__slide {
  width: 488px;
  background-color: var(--gray);
  height: auto
}

@media (max-width:600px) {
  .los-slider__slide {
    width: 100%
  }
}

.los-slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  padding: 6px 16px
}

@media (max-width:600px) {
  .los-slider__top {
    padding: 6px 10px
  }
}

.los-slider__top svg {
  display: block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.los-slider__top-text {
  color: var(--l-purple)
}

.los-slider__descr {
  padding: 0 16px 16px 16px
}

.los-slider__descr:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:600px) {
  .los-slider__descr {
    padding: 0 10px 16px 10px
  }
}

.los-slider__image {
  height: 274px;
  width: 100%
}

.los-slider__image:not(:last-child) {
  margin-bottom: 16px
}

.los-slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.los-slider__name {
  color: var(--main)
}

.los-slider__name:not(:last-child) {
  margin-bottom: 8px
}

.los-slider__texts {
  width: 100%
}

.los-slider__texts:not(:last-child) {
  margin-bottom: 32px
}

.los-slider__text {
  color: var(--main)
}

.los-slider__text:not(:last-child) {
  margin-bottom: 8px
}

.los-slider__but {
  margin-left: auto;
  color: var(--white)
}

.los-slider__but svg {
  fill: var(--white)
}

.slot:not(:last-child) {
  margin-bottom: 60px
}

.slot__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 32px 24px;
  min-height: 331px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.slot__top:not(:last-child) {
  margin-bottom: 24px
}

.slot__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .48);
  z-index: 1
}

.slot__title {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-align: center
}

.slot__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 24px 32px
}

.slot__content:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .slot__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.slot__content_column {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr
}

.slot__column {
  width: 100%
}

.slot__subtitle {
  color: var(--purple)
}

.slot__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.slot__texts {
  width: 100%
}

.slot__text {
  color: var(--main)
}

.slot__mintitle:not(:last-child) {
  margin-bottom: 8px
}

.slot__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 24px 32px
}

@media (max-width:991px) {
  .slot__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.slot__item:not(:last-child) {
  margin-bottom: 24px
}

.contacts {
  padding-top: 80px
}

.contacts__top:not(:last-child) {
  margin-bottom: 24px
}

.contacts__title {
  text-align: center;
  color: var(--main)
}

.contacts__title:not(:last-child) {
  margin-bottom: 8px
}

.contacts__texts {
  width: 100%
}

.contacts__text {
  text-align: center;
  color: var(--main)
}

.contacts__text:not(:last-child) {
  margin-bottom: 8px
}

.contacts__bottom {
  width: 100%
}

.contacts__map {
  width: 100%;
  height: 450px
}

.contacts__map:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .contacts__map {
    height: 380px
  }
}

@media (max-width:600px) {
  .contacts__map {
    height: 300px
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.contacts__address {
  font-style: normal
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 28px
}

@media (max-width:600px) {
  .contacts__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.contacts__info-item {
  color: var(--main)
}

.contacts__info-item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__info-item a:hover {
    color: var(--hover)
  }
}

.contacts__info-item a:focus-visible {
  color: var(--hover)
}

.contacts__info-item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.form {
  border-radius: 10px;
  padding: 32px;
  background-color: var(--gray);
  max-width: 591px;
  margin: 0 auto
}

.form:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:991px) {
  .form {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .form {
    padding: 24px 10px
  }
}

.form__inputs:not(:last-child) {
  margin-bottom: 32px
}

.form__label {
  display: block
}

.form__label:not(:last-child) {
  margin-bottom: 24px
}

.form__label-span {
  display: block;
  padding-left: 16px
}

.form__button {
  margin-left: auto;
  color: var(--white)
}

.footer {
  padding-bottom: 60px
}

.terms {
  padding: 80px 0 0 0
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--purple);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}