@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Monda-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Sora-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Sora-SemiBold.woff2") format("woff2")
}