:root {
  // Шрифты
  --font-main: "Monda", sans-serif; // главный шрифт на странице
  --font-second: "Sora", sans-serif; // главный шрифт на странице
  // Контейнер
  --container-width: 1310px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #eaeaea; // бекграунд страницы
  --background-menu: #eaeaea;
  --orange: #d7751c;
  --black: #000000;
  --white: #ffffff;

  --hover: #D7751C; // цвет при ховере
  --active: #aa5a10; // цвет при активе
  --hover2: #ffffff; // цвет при ховере 
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 180px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
  
.tt-1 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;

  @media (max-width: 1440px) {
    font-size: 58px;
  }

  @media (max-width: 1220px) {
    font-size: 48px;
  }

  @media (max-width: 991px) {
    font-size: 40px;
  }

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 53px;
  line-height: 120%;
  text-transform: uppercase;

  @media (max-width: 1440px) {
    font-size: 48px;
  }

  @media (max-width: 1220px) {
    font-size: 40px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 600;
  font-size: 31px;
  line-height: 140%;

  @media (max-width: 1220px) {
    font-size: 28px;
  }

  @media (max-width: 991px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-4 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;

  @media (max-width: 1440px) {
    font-size: 38px;
  }

  @media (max-width: 1220px) {
    font-size: 32px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border: 1px solid var(--white);
  border-radius: 43px;
  min-width: 142px;
  min-height: 50px;
  background-color: transparent;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover2);
      color: var(--black);
    }
  }

  &:focus-visible {
    background-color: var(--hover2);
    color: var(--black);
  }

  &:active {
    background-color: var(--hover2);
    color: var(--black);
    transition-duration: .1s;
  }
}