* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: SpartanMB;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SpartanMB-Black.woff2) format("woff2")
}

:root {
  --font-main: Arial;
  --font-second: "SpartanMB", sans-serif;
  --container-width: 1215px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #fff;
  --background-menu: #fff;
  --l-blue: #5875bd;
  --blue: #12183b;
  --white: #ffffff;
  --black: #000000;
  --hover: #414c85;
  --active: #303a71
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 120px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.tt-64-32 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:1440px) {
  .tt-64-32 {
    font-size: 58px
  }
}

@media (max-width:1220px) {
  .tt-64-32 {
    font-size: 50px
  }
}

@media (max-width:991px) {
  .tt-64-32 {
    font-size: 42px
  }
}

@media (max-width:600px) {
  .tt-64-32 {
    font-size: 32px
  }
}

.tt-53-28 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:1440px) {
  .tt-53-28 {
    font-size: 48px
  }
}

@media (max-width:1220px) {
  .tt-53-28 {
    font-size: 40px
  }
}

@media (max-width:991px) {
  .tt-53-28 {
    font-size: 34px
  }
}

@media (max-width:600px) {
  .tt-53-28 {
    font-size: 28px
  }
}

.tt-31-24 {
  font-family: var(--font-second);
  font-weight: 900;
  font-size: 31px;
  line-height: 140%
}

@media (max-width:1220px) {
  .tt-31-24 {
    font-size: 28px
  }
}

@media (max-width:991px) {
  .tt-31-24 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .tt-31-24 {
    font-size: 24px
  }
}

.tx-17-14 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

@media (max-width:600px) {
  .tx-17-14 {
    font-size: 14px
  }
}

.tx-23-18 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%
}

@media (max-width:991px) {
  .tx-23-18 {
    font-size: 21px
  }
}

@media (max-width:600px) {
  .tx-23-18 {
    font-size: 18px
  }
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 49px;
  min-width: 133px;
  min-height: 64px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--l-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

section:not(:last-child) {
  margin-bottom: 120px
}

.header {
  padding: 25px 0
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-menu);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--black);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 641px;
  padding: 0
}

@media (max-width:991px) {
  .hero__container {
    min-height: 550px
  }
}

@media (max-width:600px) {
  .hero__container {
    min-height: 450px
  }
}

.hero__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 32px;
  background-color: rgba(48, 49, 55, .76);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 599px;
  width: 100%
}

@media (max-width:991px) {
  .hero__descr {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .hero__descr {
    padding: 24px 10px;
    max-width: none
  }
}

.hero__title {
  color: var(--white)
}

.hero__title:not(:last-child) {
  margin-bottom: 19px
}

.hero__texts {
  width: 100%
}

.hero__text {
  color: var(--white)
}

.hero__text:not(:last-child) {
  margin-bottom: 10px
}

.hall_2 {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .hall_2 {
    padding: 80px 0 0 0
  }
}

.hall__title {
  text-align: center;
  color: var(--black)
}

.hall__title:not(:last-child) {
  margin-bottom: 32px
}

.hall__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .hall__content {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.hall__left {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 797px;
  flex: 0 1 797px
}

@media (max-width:991px) {
  .hall__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.hall__left_2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%
}

.hall__text:not(:last-child) {
  margin-bottom: 10px
}

.hall__text_1 {
  color: var(--l-blue)
}

.hall__text_1:not(:last-child) {
  margin-bottom: 19px
}

.hall__wrapper-texts {
  width: 100%;
  max-width: 590px
}

.hall__wrapper-texts_2 {
  max-width: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .hall__wrapper-texts_2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 24px
  }
}

.hall__wrapper-texts:not(:last-child) {
  margin-bottom: 32px
}

.hall__texts {
  width: 100%
}

.hall__link {
  margin-top: 24px
}

.hall__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .hall__images {
    gap: 24px
  }
}

@media (max-width:600px) {
  .hall__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
  }
}

.hall__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 383px;
  flex: 0 1 383px;
  height: 441px;
  border-radius: 10px;
  overflow: hidden
}

@media (max-width:991px) {
  .hall__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 383px;
    margin: 0 auto
  }
}

.hall__image_2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 383px;
  flex: 0 1 383px
}

@media (max-width:600px) {
  .hall__image_2 {
    max-width: 383px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0
  }
}

.hall__image_3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 592px;
  flex: 0 1 592px
}

@media (max-width:600px) {
  .hall__image_3 {
    max-width: 592px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0
  }
}

.hall__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.about__title {
  text-align: center;
  color: var(--black)
}

.about__title:not(:last-child) {
  margin-bottom: 32px
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px
}

@media (max-width:991px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.about__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 590px;
  flex: 0 1 590px;
  height: 436px;
  border-radius: 10px;
  overflow: hidden
}

@media (max-width:991px) {
  .about__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.about__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.about__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 595px;
  flex: 0 1 595px;
  width: 100%
}

@media (max-width:991px) {
  .about__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.about__texts {
  width: 100%
}

.about__text {
  color: var(--black)
}

.about__text:not(:last-child) {
  margin-bottom: 10px
}

.propos_2 {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .propos_2 {
    padding: 80px 0 0 0
  }
}

.propos__title {
  text-align: center;
  color: var(--white)
}

.propos__title:not(:last-child) {
  margin-bottom: 32px
}

.propos__title_2 {
  color: var(--black);
  margin-bottom: 32px
}

.propos__contenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .propos__contenter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.propos__list {
  width: 100%
}

.propos__item {
  padding: 60px 0;
  background-color: var(--blue)
}

.propos__item:nth-child(even) {
  background-color: transparent
}

.propos__item:nth-child(even) .propos__subitem {
  color: var(--black)
}

.propos__item:nth-child(even) .propos__subitem::before {
  background-color: var(--black)
}

.propos__item:nth-child(even) .propos__subtitle {
  color: var(--blue)
}

.propos__item:nth-child(even) .propos__text {
  color: var(--black)
}

.propos__item:nth-child(odd) {
  background-color: var(--blue)
}

.propos__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 487px;
  flex: 0 1 487px;
  height: 492px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%
}

@media (max-width:991px) {
  .propos__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.propos__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.propos__descr {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 693px;
  flex: 0 1 693px
}

@media (max-width:991px) {
  .propos__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.propos__subtitle {
  color: var(--white)
}

.propos__subtitle:not(:last-child) {
  margin-bottom: 24px
}

.propos__text {
  color: var(--white);
  opacity: .6
}

.propos__text_2 {
  opacity: 1
}

.propos__text_2:not(:last-child) {
  margin-bottom: 10px
}

.propos__sublist {
  width: 100%
}

.propos__sublist:not(:last-child) {
  margin-bottom: 61px
}

@media (max-width:991px) {
  .propos__sublist:not(:last-child) {
    margin-bottom: 32px
  }
}

@media (max-width:600px) {
  .propos__sublist:not(:last-child) {
    margin-bottom: 24px
  }
}

.propos__sublist_2:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:600px) {
  .propos__sublist_2:not(:last-child) {
    margin-bottom: 24px
  }
}

.propos__texts {
  width: 100%
}

.propos__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--white)
}

.propos__subitem::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5px;
  flex: 0 0 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--white)
}

.propos__subitem:not(:last-child) {
  margin-bottom: 14px
}

.contacts_2 {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .contacts_2 {
    padding: 80px 0 0 0
  }
}

.contacts__content {
  background-color: var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .contacts__content {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.contacts__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 487px;
  flex: 0 1 487px;
  height: 350px;
  width: 100%
}

@media (max-width:991px) {
  .contacts__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.contacts__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.contacts__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 619px;
  flex: 0 1 619px;
  width: 100%;
  padding: 32px 0
}

@media (max-width:991px) {
  .contacts__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0 16px 24px 16px
  }
}

@media (max-width:600px) {
  .contacts__right {
    padding: 0 10px 24px 10px
  }
}

.contacts__title {
  color: var(--white)
}

.contacts__text {
  color: var(--white)
}

.contacts__text:not(:last-child) {
  margin-bottom: 24px
}

.form {
  width: 100%
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 41px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 41px
}

@media (max-width:991px) {
  .form__inputs {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__inputs:not(:last-child) {
  margin-bottom: 24px
}

.form__input {
  width: 100%;
  border-radius: 33px;
  min-height: 58px;
  display: block;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, .4);
  color: var(--white);
  opacity: .6;
  border: 1px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .form__input:hover {
    border-color: var(--white)
  }
}

.form__input:focus-visible {
  border-color: var(--white)
}

.form__input::-webkit-input-placeholder {
  color: var(--white)
}

.form__input::-moz-placeholder {
  color: var(--white)
}

.form__input:-ms-input-placeholder {
  color: var(--white)
}

.form__input::-ms-input-placeholder {
  color: var(--white)
}

.form__input::placeholder {
  color: var(--white)
}

.terms {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 80px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 160px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 120px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px
}

.footer__link {
  color: var(--black);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}