* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Regular.woff2) format("woff2")
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Bold.woff2) format("woff2")
}

:root {
  --font-main: "PlayfairDisplay", sans-serif;
  --container-width: 1120px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #2C2828;
  --pink: #CD997B;
  --white: #ffffff;
  --black: #2c2828;
  --d-white: #f5f5f5;
  --gray: #ededed;
  --hover: #121111;
  --active: #121111
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 100px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

.webp .rest {
  background-image: url(../img/rest.webp)
}

.no-webp .hero {
  background-image: url(../img/hero.jpg)
}

.no-webp .rest {
  background-image: url(../img/rest.jpg)
}

.tt-64-42 {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-64-42 {
    font-size: 52px
  }
}

@media (max-width:600px) {
  .tt-64-42 {
    font-size: 42px
  }
}

.tt-53-40 {
  font-weight: 700;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-53-40 {
    font-size: 46px
  }
}

@media (max-width:600px) {
  .tt-53-40 {
    font-size: 40px
  }
}

.tt-37-34 {
  font-weight: 700;
  font-size: 37px;
  line-height: 140%;
  text-transform: uppercase
}

@media (max-width:600px) {
  .tt-37-34 {
    font-size: 34px
  }
}

.tt-31-23 {
  font-weight: 700;
  font-size: 31px;
  line-height: 140%;
  text-transform: uppercase
}

@media (max-width:600px) {
  .tt-31-23 {
    font-size: 23px
  }
}

.tx-22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center
}

.but-58 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 58px;
  height: 44px;
  padding: 10px;
  background-color: var(--black);
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out, opacity .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out, opacity .3s ease-in-out;
  transition: border-color .3s ease-in-out, opacity .3s ease-in-out
}

@media (any-hover:hover) {
  .but-58:hover {
    border-color: rgba(255, 255, 255, .4)
  }
}

.but-58:focus-visible {
  border-color: rgba(255, 255, 255, .4)
}

.but-58:active {
  border-color: var(--white);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.but-58 svg {
  display: block;
  width: 39px;
  height: 8px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  fill: var(--white);
  stroke: var(--white)
}

.but-146 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 30px;
  min-width: 146px;
  min-height: 46px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--white);
  background-color: var(--pink);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but-146:hover {
    background-color: var(--hover)
  }
}

.but-146:focus-visible {
  background-color: var(--hover)
}

.but-146:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.input {
  display: block;
  padding: 0 16px;
  width: 100%;
  min-height: 58px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  border: 2px solid transparent;
  background-color: var(--gray);
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

.input::-webkit-input-placeholder {
  opacity: .5
}

.input::-moz-placeholder {
  opacity: .5
}

.input:-ms-input-placeholder {
  opacity: .5
}

.input::-ms-input-placeholder {
  opacity: .5
}

.input::placeholder {
  opacity: .5
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.header {
  padding: 24px 0
}

@media (max-width:600px) {
  .header {
    padding: 16px 0
  }
}

@media (max-width:991px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-page);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 24px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 40px;
  height: 17px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, #000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%)
}

.hero__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 722px;
  padding-top: 32px;
  padding-bottom: 32px
}

.hero__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px;
  width: 100%
}

@media (max-width:768px) {
  .hero__descr {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.hero__texts {
  position: relative;
  padding-top: 8px;
  width: 100%
}

.hero__texts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 85px;
  height: 1px;
  background-color: var(--white)
}

.hero__texts:not(:last-child) {
  margin-bottom: 8px
}

.hero__text {
  width: 100%;
  color: var(--white)
}

.hero__text:not(:last-child) {
  margin-bottom: 8px
}

.hero__title {
  color: var(--white)
}

.footer {
  padding-bottom: 62px
}

@media (max-width:991px) {
  .footer {
    padding-bottom: 42px
  }
}

@media (max-width:600px) {
  .footer {
    padding-bottom: 64px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px
}

@media (max-width:600px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.footer__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.benefits {
  padding: 100px 0;
  background-color: var(--pink)
}

.benefits:not(:last-child) {
  margin-bottom: 100px
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 32px
}

@media (max-width:991px) {
  .benefits__list {
    gap: 24px
  }
}

@media (max-width:600px) {
  .benefits__list {
    gap: 16px
  }
}

.benefits__item {
  padding-left: 19px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 352px;
  flex: 0 1 352px;
  border-left: 1px solid var(--black)
}

@media (max-width:991px) {
  .benefits__item {
    padding-left: 22px
  }
}

@media (max-width:600px) {
  .benefits__item {
    padding-left: 18px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.benefits__icon {
  width: 40px;
  height: 40px
}

.benefits__icon:not(:last-child) {
  margin-bottom: 8px
}

.benefits__icon picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits__subtitle {
  color: var(--black)
}

.benefits__subtitle:not(:last-child) {
  margin-bottom: 8px
}

.benefits__texts {
  width: 100%
}

.benefits__text {
  text-align: left;
  color: var(--black)
}

.benefits__text:not(:last-child) {
  margin-bottom: 8px
}

.rest {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.rest:not(:last-child) {
  margin-bottom: 100px
}

.rest__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 497px;
  padding-top: 32px;
  padding-bottom: 32px
}

.rest__descr {
  text-align: center;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 736px;
  flex: 0 1 736px;
  background-color: rgba(44, 40, 40, .85);
  padding: 28px 47px;
  min-height: 297px
}

@media (max-width:991px) {
  .rest__descr {
    padding: 32px 30px
  }
}

@media (max-width:600px) {
  .rest__descr {
    padding: 24px 20px
  }
}

.rest__title {
  color: var(--white)
}

.rest__title:not(:last-child) {
  margin-bottom: 24px
}

.rest__texts {
  width: 100%
}

.rest__text {
  color: var(--white)
}

.rest__text:not(:last-child) {
  margin-bottom: 8px
}

.spa:not(:last-child) {
  margin-bottom: 100px
}

.spa__top {
  text-align: center;
  max-width: 665px;
  margin: 0 auto
}

.spa__top:not(:last-child) {
  margin-bottom: 32px
}

.spa__title {
  color: var(--white)
}

.spa__title:not(:last-child) {
  margin-bottom: 24px
}

.spa__texts {
  width: 100%
}

.spa__text {
  color: var(--white)
}

.spa__text:not(:last-child) {
  margin-bottom: 16px
}

.spa__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 17px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 17px
}

@media (max-width:1220px) {
  .spa__images {
    gap: 24px
  }
}

@media (max-width:768px) {
  .spa__images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

@media (max-width:600px) {
  .spa__images {
    gap: 16px
  }
}

.spa__image {
  position: relative;
  padding-bottom: 56%
}

.spa__image picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.spa__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.hotels:not(:last-child) {
  margin-bottom: 100px
}

.hotels__title {
  color: var(--white)
}

.hotels__title:not(:last-child) {
  margin-bottom: 32px
}

.hotels__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px
}

@media (max-width:991px) {
  .hotels__button {
    display: none
  }
}

.hotels__button.swiper-button-disabled {
  opacity: .4
}

.hotels-slider:not(:last-child) {
  margin-bottom: 16px
}

.hotels-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--pink);
  height: auto
}

@media (max-width:991px) {
  .hotels-slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.hotels-slider__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 544px;
  flex: 0 1 544px;
  height: 424px
}

@media (max-width:991px) {
  .hotels-slider__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .hotels-slider__image {
    height: 350px
  }
}

@media (max-width:450px) {
  .hotels-slider__image {
    height: 210px
  }
}

.hotels-slider__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.hotels-slider__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 576px;
  flex: 0 1 576px;
  padding: 32px;
  width: 100%
}

@media (max-width:991px) {
  .hotels-slider__descr {
    padding: 32px 24px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

@media (max-width:600px) {
  .hotels-slider__descr {
    padding: 16px 8px
  }
}

.hotels-slider__subtitle {
  color: var(--black)
}

.hotels-slider__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.hotels-slider__info {
  width: 100%
}

.hotels-slider__info:not(:last-child) {
  margin-bottom: 16px
}

.hotels-slider__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--black)
}

.hotels-slider__info-item span {
  opacity: .4
}

.hotels-slider__info-item:not(:last-child) {
  margin-bottom: 8px
}

.hotels-slider__texts {
  width: 100%
}

.hotels-slider__text {
  text-align: left;
  color: var(--black)
}

.hotels-slider-prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.hotels-slider-pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px
}

.hotels-slider-pagination .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 !important;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  opacity: 1;
  background-color: transparent
}

.hotels-slider-pagination .swiper-pagination-bullet::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white)
}

.hotels-slider-pagination .swiper-pagination-bullet-active {
  border-color: var(--white)
}

.terms {
  padding: 100px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 80px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 160px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 120px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--pink);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.sala {
  padding-top: 120px
}

.sala:not(:last-child) {
  margin-bottom: 100px
}

@media (max-width:991px) {
  .sala {
    padding-top: 100px
  }
}

@media (max-width:600px) {
  .sala {
    padding-top: 80px
  }
}

.sala__item:not(:last-child) {
  margin-bottom: 100px
}

.sala__title {
  color: var(--white);
  text-align: center
}

.sala__title:not(:last-child) {
  margin-bottom: 32px
}

.sala__texts {
  text-align: center
}

.sala__texts:not(:last-child) {
  margin-bottom: 32px
}

.sala__text {
  color: var(--white)
}

.sala__text:not(:last-child) {
  margin-bottom: 16px
}

.sala__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .sala__images {
    gap: 24px
  }
}

@media (max-width:768px) {
  .sala__images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

@media (max-width:600px) {
  .sala__images {
    gap: 16px
  }
}

.sala__image {
  position: relative;
  padding-bottom: 54%
}

.sala__image picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.sala__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.contacts {
  padding-top: 120px
}

.contacts:not(:last-child) {
  margin-bottom: 100px
}

@media (max-width:991px) {
  .contacts {
    padding-top: 100px
  }
}

@media (max-width:600px) {
  .contacts {
    padding-top: 80px
  }
}

.contacts__top {
  padding: 24px;
  background-color: var(--d-white)
}

.contacts__top:not(:last-child) {
  margin-bottom: 100px
}

@media (max-width:991px) {
  .contacts__top {
    padding: 24px 16px
  }
}

@media (max-width:600px) {
  .contacts__top {
    padding: 24px 10px
  }
}

.contacts__title {
  text-align: center;
  color: var(--black)
}

.contacts__title:not(:last-child) {
  margin-bottom: 16px
}

.contacts__texts {
  text-align: center
}

.contacts__texts:not(:last-child) {
  margin-bottom: 16px
}

.contacts__text {
  color: var(--black)
}

.contacts__text:not(:last-child) {
  margin-bottom: 8px
}

.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 32px
}

@media (max-width:991px) {
  .contacts__bottom {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:600px) {
  .contacts__bottom {
    gap: 16px
  }
}

.contacts__list {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 360px;
  flex: 0 1 360px
}

@media (max-width:991px) {
  .contacts__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--white)
}

.contacts__item:not(:last-child) {
  margin-bottom: 16px
}

.contacts__item a {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .contacts__item a:hover {
    color: var(--hover)
  }
}

.contacts__item a:focus-visible {
  color: var(--hover)
}

.contacts__item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__item svg {
  display: block;
  width: 23px;
  height: 23px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  fill: var(--white)
}

.contacts__map {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 736px;
  flex: 0 1 736px;
  height: 464px
}

@media (max-width:991px) {
  .contacts__map {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 350px
  }
}

@media (max-width:450px) {
  .contacts__map {
    height: 250px
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%
}

.form {
  display: block;
  width: 100%;
  max-width: 675px;
  margin: 0 auto
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 32px
}

.form__inputs:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .form__inputs {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__inputs {
    gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__button {
  margin: 0 auto
}