@font-face {
  font-family: 'JosefinSans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/JosefinSans-BoldItalic.woff2") format("woff2")
}

@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/JosefinSans-Regular.woff2") format("woff2")
}